@import ../theme

ol.footnotes
    margin-bottom: 0
    padding-left: 35px
    li
        font-size: 14px
        letter-spacing: 0.2px
        line-height: 1.4rem
        margin: 10px 0
    li:first-child
        margin-top: 0
    li:last-child
        margin-bottom: 0