@import ../theme

.freq-toggle
    margin-left: 5px
    .btn
        border-radius: 0 !important
        padding: 0.25rem 0.75rem
    .active
        background-color: $brand-primary-color !important
        color: white !important
    .dropdown-menu
        min-width: 0
        border-radius: 0
        padding: 0
        border: none
    .dropdown-item
        padding: 0.35rem 0.5rem
        font-family: $brand-font-family-mono
        font-size: $small-font-size
        &:active, &:hover, &:focus
            color: $brand-dark-gray-color
            background-color: #f8f9fa
            outline: none
    .dropdown-toggle
        border: none
        background: white
        border-bottom: 2px solid $brand-primary-color
        font-family: $brand-font-family-mono
        font-size: $small-font-size
        padding: 0.25rem
        &.disabled
            background-color: $light-gray-color
            color: $disabled-gray
    .dropdown-toggle::after
        display: inline-block
        width: .5em
        height: .5em
        margin: -.3em 0 0 .4em
        vertical-align: middle
        content: ""
        border: .3em solid
        border-width: 0 .15em .15em 0
        transform: rotateZ(45deg)

#ap-list-modal-body 
    .dropdown-toggle:disabled
        background: $white-color
        border-bottom: 2px solid transparent
        font-family: $brand-font-family-sans-serif
        color: $brand-dark-gray-color
        font-size: 0.938rem
        padding: 0.25rem
        &::after
            visibility: hidden
    .dropdown-toggle
        background: $light-gray-color
        border-bottom: 2px solid $brand-primary-color
        font-family: $brand-font-family-sans-serif
        font-size: 0.938rem
        padding: 0.25rem
        width: 100%
        text-align: right
        &::after
            visibility: visible
            margin: -.3em 0 0 .6em