@import ../theme

.mapboxgl-popup.lineofsight-tooltip
    color: $white-color
    font-family: $brand-font-family-sans-serif
    min-width: 270px
    .title
        margin-bottom: 20px
        h6
            font-size: 16px
            margin-bottom: 0
            display: flex
            align-items: center
            font-weight: bold
            letter-spacing: 0.02em
    .title.success h6
            color: $success-color
    .title.fail h6
            color: $error-color
    .tooltip--cpe .title svg
        margin-left: 6px
    .tooltip--towers .title svg
        margin-right: 6px
    .description
        margin-bottom: 15px
        letter-spacing: 0.017em
        &.section
            border-top: $mid-gray-color-2 solid 1px
            padding-top: 15px
    p
        font-size: 14px
        line-height: 18px
        margin-bottom: 4px
        letter-spacing: 0.017em
    .small
        font-size: 12px
    .bold
        font-weight: bold
    .draw-ptp-row
        display: flex
        flex-flow: row
        justify-content: space-between
        align-items: center
    a
        color: $brand-primary-color
        font-weight: bold
        font-size: 14px
        letter-spacing: 0.017em
        cursor: pointer
        transition: 0.2s ease all
        &:hover
            color: darken($brand-primary-color, 7%)
    .button-row
        display: flex
        flex-flow: column
        align-items: center
        margin-top: 30px
        button
            width: 100%
        .link
            font-size: 14px
            margin-top: 12px
        .microcopy
            margin: 8px 10px 0 10px
            margin-bottom: 0

.mapboxgl-popup.lineofsight-tooltip
    .tooltip--switch-towers
        .back-icon
            margin-bottom: 2px
            margin-left: -5px
            margin-right: 5px
        ul
            padding: 0 3px 0 0
            max-height: 210px
            overflow-y: scroll
            margin: 0
        li
            border-bottom: $mid-gray-color-2 solid 1px
            display: flex
            flex-flow: row
            justify-content: space-between
            align-items: center
            padding: 10px
            transition: 0.15s ease-in-out all
            cursor: pointer
            p
                margin: 0 0 4px 0
        li:first-child
            padding-top: 0
        li:last-child
            border-bottom: 0
            padding-bottom: 0
        li:hover
            background-color: lighten($brand-dark-gray-color, 5%)
        p
            line-height: 18px

.mapboxgl-popup.lineofsight-tooltip
    input
        background: darken($brand-dark-gray-color, 7%)
        -webkit-appearance: none
        border: 0
        border-style: none
        color: #fff
        padding: 5px 3px 3px 3px
        width: 100%
        font-size: 14px
        box-sizing: border-box
        border-bottom: 2px solid transparent
        &:focus
            outline: 0
            border-bottom: 2px solid $brand-primary-color
        &:focus + span
            border-bottom: 2px solid $brand-primary-color
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    /* Firefox */
    input[type=number]
        -moz-appearance: textfield
    .input--tower-name
        padding-left: 7px
    .input--value
        padding: 5px 3px 3px 3px
        text-align: right
        width: 50px
        margin-left: 10px
    .tooltip--tower-summary
        .name-row
            display: block
        .input--tower-name
            margin-top: 5px
        .label
            margin-bottom: 0
            span
                display: block
                font-size: 12px
        ul
            margin: 0
            padding: 0
        li
            align-items: center
            border-bottom: $mid-gray-color-2 solid 1px
            display: flex
            flex-flow: row
            justify-content: space-between
            padding: .7rem 0
        li:first-child
            padding-top: 0
        li:last-child
            border-bottom: 0
            padding-bottom: 0
        .coordinates
            display: flex
            margin-top: 10px
            align-items: baseline
            justify-content: space-between
            input
                width: 100%
                margin: 0
                text-align: left
                padding-left: 7px
            .data-with-unit
                flex-grow: 1
            .comma
                margin: 0 5px
                color: $white-color
        .stat-row
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-column-gap: 10px
        .ap-stat
            align-items: center
            display: flex
            padding: 7px
            margin-bottom: 0
            &--label
                margin-bottom: 0
                font-size: 12px
                line-height: 16px
            &--value
                font-family: $brand-font-family-mono
                margin-bottom: 0
                margin-left: 3px
    .data-with-unit
        display: flex
        span
            background: darken($brand-dark-gray-color, 7%)
            text-align: center
            padding: 5px 3px 3px 0
            width: 18px
            color: $white-color
            font-size: 14px
            border-bottom: solid 2px transparent


.lineofsight-tooltip .mapboxgl-popup-content
    background-color: $brand-dark-gray-color
    padding: 20px
    color: white

.lineofsight-tooltip .mapboxgl-popup-close-button
    width: 40px
    height: 40px
    font-size: 33px
    color: $brand-ternary-color
    top: 6px
    right: 4px
    &:focus
        outline: 0

.lineofsight-tooltip.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip
    border-top-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-top .mapboxgl-popup-tip
    border-bottom-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-left .mapboxgl-popup-tip
    border-right-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-right .mapboxgl-popup-tip
    border-left-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip
    border-bottom-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip
    border-bottom-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip
    border-top-color: $brand-dark-gray-color

.lineofsight-tooltip.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip
    border-top-color: $brand-dark-gray-color
