@import ../theme

.modal-content
    border-radius: 0
.modal-footer
    border-top: none
.modal-header
    border-bottom: none
    .close:focus
        outline: 0

.input-group-text
    border: 0px
    background: none

.metric-input
    width: 150px

.tower-row:hover
    background-color: white !important

.theme-modal
    .modal-header
        padding: 2rem 2rem 1rem 2rem
    .modal-body
        padding: 0 2rem 2rem 2rem
    .modal-body ~ .modal-footer
        padding: 0 2rem 2rem 2rem
        margin-top: -1rem
        justify-content: end
    .modal-footer
        text-align: center
        padding: 2rem 2rem 3rem 2rem
        justify-content: end

.theme-modal .modal_disclaimers
    padding-top: 20px
    text-align: left
    p
        font-size: $small-font-size
        letter-spacing: 0.4px
        line-height: 1.4rem
        margin: 10px 0
        padding-left: 20px
        &:last-child
            margin-bottom: 0
        &:first-child
            margin-top: 0.25rem

.theme-modal #session-list-modal-body
    min-height: 200px

.theme-modal.open-workspace
    .empty-placeholder
        background: $light-gray-color
        padding: 2rem 1.25rem
        h5
            margin-top: 0.75rem
            margin-bottom: 0

.theme-modal#showCompetitorsModal
    h4
        font-size: $base-font-size
        font-style: normal
        font-weight: bold
        letter-spacing: 0.01em
        line-height: 20px
        margin: 0
    p
        margin: 0
        padding: 0
    h5
        font-size: $base-font-size
        font-style: normal
        font-weight: normal
        letter-spacing: 0.04em
        line-height: 20px
        margin: 0
        padding: 0
    .table-header
        align-items: flex-end
        display: flex
        padding: 3rem 2rem 1rem
        width: 100%
    .container_intro p
        font-size: $base-font-size
        letter-spacing: 0.3px
        line-height: 26px
    .table-data
        background-color: $light-gray-color
        border-top: 2px solid $brand-primary-color
        max-height: 290px
        overflow-y: scroll
        padding: 0 20px 0 20px
    .table-data--row
        align-items: center
        border-bottom: 1px solid darken($light-gray-color, 10%)
        display: flex
        padding: 17px 0
        &:last-of-type
            border-bottom: 0px
    .table-header--competitors,
    .table-data--competitors
        padding-right: 30px
        width: 40%
        word-break: break-word
    .table-header--tech,
    .table-data--tech,
    .table-header--speeds,
    .table-data--speeds
        text-align: center
        width: 30%

/* RESPONSIVE */

/* MOBILE ONLY */
@media screen and (max-width: $breakpoint-md)
    .theme-modal#showCompetitorsModal
        .table-data
            max-height: 200px
        .table-header--competitors,
        .table-data--competitors
            padding-right: 20px
            width: 30%
        .table-header--tech,
        .table-data--tech,
        .table-header--speeds,
        .table-data--speeds
            justify-content: center
            text-align: center
            width: 33.33%
        .table-header--speeds,
        .table-header--tech,
        .table-header--competitors
            align-items: center
            display: flex
        .container_intro p
            font-size: $small-font-size
            line-height: 1.4rem
        h5
            font-size: $small-font-size
            line-height: 18px
        h4
            font-size: $small-font-size
            line-height: 18px
        .table-header
            padding: 25px 1.25rem 0.75rem

@media screen and (max-width: $breakpoint-sm)
    .theme-modal#showCompetitorsModal
        .table-header--competitors,
        .table-data--competitors
            padding-right: 0.25rem
        .table-data--row
            padding: 0.75rem 0
        .table-data
            max-height: 200px

// these are in bootstrap 5
// margin on top is so that nav is still visible
.modal-fullscreen
    margin: 3em 0 0 0 !important
    max-width: none !important
@media screen and ( max-width:  $breakpoint-sm)
    .modal-fullscreen-sm-down
        margin: 3em 0 0 0 !important
        max-width: none !important
@media screen and ( max-width:  $breakpoint-md)
    .modal-fullscreen-md-down
        margin: 3em 0 0 0 !important
        max-width: none !important
@media screen and ( max-width:  $breakpoint-lg)
    .modal-fullscreen-lg-down
        margin: 3em 0 0 0 !important
        max-width: none !important
@media screen and ( max-width:  $breakpoint-xl)
    .modal-fullscreen-xl-down
        margin: 3em 0 0 0 !important
        max-width: none !important
@media (min-width: 1200px)
    .modal-xl
        max-width: 1200px !important
