{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "workspace/molecules/page_header.html" %}
<body class="los-body">
    {% if beta and request.user.is_authenticated %}
        {% include 'workspace/organisms/tool_suggest_workspace_overlay.html' %}
    {% endif %}
    {% include "workspace/atoms/mapbox_global_public_key.html" %}
    {% if beta %}
      {% include "mmwave/organisms/network_edit_nav.html" %}
    {% endif %}
    {% include "./map_view.html" %}
    <script async src="{% static "wireless_network.min.js" %}"> </script>
    {% include "./3d_view.html" %}
    {% include "./link_view.html" %}
    <script type="text/javascript"> 
      var userRequestIdentity = "{{ fbid }}";
      var networkID = "{{ networkID }}";
      var radio_names = ["{{tx.name }}", "{{rx.name}}"];
      var ISPTOOLBOX_SESSION_INFO = {
        {% if map_preferences %}
          initialMapCenter : {{ map_preferences.center.json|safe }},
          initialMapZoom : {{ map_preferences.zoom }},
        {% endif %}
          units: "{{units}}",
      };
    </script>
    {% if geojson and beta %}
      {{ geojson|json_script:"isp-map-features" }}
    {% endif %}
    {% if not request.user.is_authenticated %}
      {% include "workspace/organisms/demo_redirect_to_workspace.html" %}
    {% else %}
      {% include "workspace/organisms/access_point_modal.html" %}
      {% include "workspace/organisms/access_point_bulk_upload_modal.html" %}
    {% endif %}
    {{ beta|json_script:"los_beta" }}
</body>
</html>