{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "./header.html" %}
<body class="los-body">
    {% include "./map_view.html" %}
    <script src="{% static "wireless_network.min.js" %}"> </script>
    {% include "./3d_view.html" %}
    {% include "./link_view.html" %}
    <script type="text/javascript"> 
      var userRequestIdentity = "{{ fbid }}";
      var networkID = "{{ networkID }}";
      var radio_names = ["{{tx.name }}", "{{rx.name}}"];
      var tool_units = "{{units}}";
    </script>
    {{ beta|json_script:"los_beta" }}
</body>
</html>