{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "./header.html" %}
<body class="los-body">
    {% include "./map_view.html" %}
    <script src="{% static "wireless_network.min.js" %}"> </script>
    {% include "./3d_view.html" %}
    {% include "./link_view.html" %}
    <script type="text/javascript"> 
      var userRequestIdentity = "{{ fbid }}";
      var networkID = "{{ networkID }}";
      var radio_names = ["{{tx.name }}", "{{rx.name}}"];
      var ISPTOOLBOX_SESSION_INFO = {
          units: "{{units}}",
      };
    </script>
    {% if not user.authenticated %}
      {% include "workspace/organisms/create_account_or_sign_in.html" %}
      <script src="{% static "login_signup.min.js" %}"> </script>
    {% endif %}
    {{ beta|json_script:"los_beta" }}
</body>
</html>