<div class="fixed-bottom">
    {% include "mmwave/organisms/mapcontrols.html" %}
    <div class="row no-gutters profile-view" id="bottom-row-link-view-container">
        {% with tx as radio %}
            {% include "./radio_view.html" %}
        {% endwith %}
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between card-title">
                        <h5 class="">
                            Link Profile
                        </h5>
                        <div>
                            {% include "mmwave/molecules/frequency_toggle.html" %}
                            {% include "mmwave/atoms/tooltip.html" %}
                        </div>
                    </div>
                    {% include "./link_profile.html" %}
                </div>
            </div>
        </div>
        {% with rx as radio %}
            {% include "./radio_view.html" %}
        {% endwith %}
    </div>
</div>