{% load static %}
<div id="link_chart" style="width:100%; height:300px;"></div>
<div id="loading_spinner" class="container d-none">
    <div class="row d-flex align-items-center" style="height: 150px;">
        <svg
        viewBox="0 0 157 120"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="WispLoadingIcon mx-auto mb-3"
        style="height: 100px;">
        <rect
          width="23.9455"
          height="119.727"
          transform="matrix(-1 0 0 1 90.5199 0)"
          fill="#A8B0B7"
        />
        <path
          class="WispLoadingIcon_animatingRectangle"
          d="M0.124794 0H46.7554V35.288L0.124794 0Z"
          fill="#687B8B"
        />
        <path
          class="WispLoadingIcon_animatingRectangle"
          d="M156.97 0H110.339V35.288L156.97 0Z"
          fill="#687B8B"
        />
      </svg>
    </div>
    <div class="text-center position-relative">
        <h3>Loading Lidar Point Cloud...</h3>
    </div>
</div>
<div id="loading_failed_spinner" class="d-none container">
    <div class="row">
        <img src="{% static 'mmwave/loading_failed.gif' %}" class="mx-auto" alt="loading failed" height="200px">
    </div>
    <div class="text-center position-relative">
        <h3>An error occured:</h3>
        <p id="link-request-error-description"></p>
    </div>
</div>
<div id="lidar_not_found_msg" class="d-none row align-items-center">
    <div class="col text-center">
    <p>LiDAR Data not available at this location. <a href="https://usgs.entwine.io/">Click here to see a map of availablity</a> </p>
    </div>
</div>
