{% load static %}

<div id="link_chart"></div>
{% include "./molecules/loading_spinner.html" %}
{% include "./molecules/error_container.html" %}
{% include "./molecules/drawing_instructions.html" %}
<div id="lidar_not_found_msg" class="d-none row align-items-center">
    <div class="col text-center">
    <p>LiDAR Data not available at this location. <a class="nav-link" data-toggle="modal" data-target="#LidarDataAvailable" href="#">Click here to see a map of availablity</a></p>
    </div>
</div>
