<!-- Modal -->
{% load socialaccount %}
{% providers_media_js %}

<div class="modal theme-modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Login to get Started</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
        <div class="modal-body">
          <a href='{% provider_login_url "facebook" method="js_sdk" %}'>
            <button type="button" class="btn isptoolbox-btn btn-primary large">Login with Facebook</button>
          </a>
        </div>
      </div>
    </div>
</div>