<div class="map-container-network">
    <div id='map' class='planner-map'></div>
    <div class="top-bar-wisp">
        <div id="isp-draw-controls" class="pl-2">
            {% include "mmwave/atoms/reconnecting_msg.html" %}
            <div id="geocoder" class="geocoder"></div>
            {% if not beta %}
                {% with width=True%}
                {% include "workspace/molecules/workspace_draw_controls.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
