<div class="col-md-2">
    <div class="card">
        <div class="card-body" style="font-size: 0.75em;">
            <h5 class="card-title">{{ radio.name }}</h5>
            <div class="row">
                <label for="example-number-input" class="col-md col-form-label">Latitude [&deg;]</label>
                <div class="col-md-10">
                    <input style="font-size: 0.9em;" class="form-control" type="number" value="{{ radio.lat }}" id="lat-{{radio.id}}">
                </div>
            </div>
            <div class="row">
                <label for="example-number-input" class="col-md col-form-label">Longitude [&deg;]</label>
                <div class="col-md-10">
                    <input style="font-size: 0.9em;" class="form-control" type="number" value="{{ radio.lng }}" id="lng-{{radio.id}}">
                </div>
            </div>
            <div class="row">
                <label for="example-number-input" class="col-md col-form-label">Height [m]</label>
                <div class="col-md-10">
                    <input style="font-size: 0.9em;" class="form-control" type="number" value="{{radio.hgt}}" id="hgt-{{radio.id}}">
                </div>
            </div>
        </div>
    </div>
</div>