<!-- Modal -->
<div class="modal theme-modal fade" id="tourModal" tabindex="-1" role="dialog" aria-labelledby="tourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="tourModalLabel">mmWave Link Check</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
        <div class="modal-body">
            <p>
                ISP Toolbox's <i>Link Check</i> tool allows ISPs to reduce the number of site surveys
                needed when establishing mmwave links.
            </p>
            <p>
                For a map of lidar availablility go to: <a href="https://usgs.entwine.io/">https://usgs.entwine.io/</a>
                Note: It may be several years since the LiDAR data was captured. ISP Toolbox does not guarantee its accuracy.
            </p>
            <p>
                Leave us feedback at our Facebook page <a target="_blank" href="https://www.facebook.com/fbctoolbox">ISP Toolbox<a>
            </p>
        </div>
      </div>
    </div>
</div>
