{% load i18n %}
{% load isp_toolbox_sources %}

<div class="mt-3">
    <h5 class="mx-3 market-stats-column--section-header">
        {% translate 'Market Sizing' %}
    </h5>
</div>
<div class="mx-3 my-2 market-eval-section">
    <div class="market-eval-section--row">
        <div class="d-flex justify-content-between ">
            <p role="text" tabindex="" class="market-eval-section--label">
                {% translate 'Buildings inside Coverage Area' %}
                {% citation sources id="Buildings Inside Coverage Area" href=sources_page_url footnote_id=footnote_id %}
                  Building estimates information from {% source_link "US" "BUILDINGS" %},
                  which is made available here under the {% source_link "LICENSES" "ODBL" %}. {% source_last_updated "US" "BUILDINGS" %}.
                  <br/>
                  Puerto Rico Building outlines courtesy of {% source_link "US" "PR_BUILDINGS" %}
                  under the {% source_link "LICENSES" "ODBL" %}.
                {% endcitation %}
            </p>
            <div class="d-flex flex-row market-eval-section--value-section">
                <div class="market-eval-section--value">
                    <div id="me-out-buildings-loading-spinner" class="market-eval-section--spinner-container d-none">
                        {% with spinner_style='height: 15px;' blink=True spinner_classes="mr-2"%}
                        {% include "workspace/atoms/components/loading_spinner.html" %}
                        {% endwith %}
                    </div>
                    <h4 id="me-out-buildings">
                        000
                    </h4>
                </div>
                {% with tooltips.buildings as tooltip%}
                {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
                {% endwith %}
            </div>
        </div>
        <div id="building-filter-btn" class="d-none">
            <div class="d-flex justify-content-end">
                <a tabindex="" class="market-eval-section--label" data-toggle="collapse"
                    data-target="#collapseBuildingFilter">
                    {% translate 'Filter'%}
                    <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="ml-1">
                        <path
                            d="M2.70711 9.29289L2 8.58579L0.585786 10L1.29289 10.7071L2.70711 9.29289ZM5 13L4.29289 13.7071L5 14.4142L5.70711 13.7071L5 13ZM8.70711 10.7071L9.41421 10L8 8.58579L7.29289 9.29289L8.70711 10.7071ZM1.29289 10.7071L4.29289 13.7071L5.70711 12.2929L2.70711 9.29289L1.29289 10.7071ZM5.70711 13.7071L8.70711 10.7071L7.29289 9.29289L4.29289 12.2929L5.70711 13.7071Z"
                            fill="#818181" />
                        <path
                            d="M7.29289 5.70711L8 6.41421L9.41421 5L8.70711 4.29289L7.29289 5.70711ZM5 2L5.70711 1.29289L5 0.585786L4.29289 1.29289L5 2ZM1.29289 4.29289L0.585787 5L2 6.41421L2.70711 5.70711L1.29289 4.29289ZM8.70711 4.29289L5.70711 1.29289L4.29289 2.70711L7.29289 5.70711L8.70711 4.29289ZM4.29289 1.29289L1.29289 4.29289L2.70711 5.70711L5.70711 2.70711L4.29289 1.29289Z"
                            fill="#818181" />
                    </svg>
                </a>
            </div>
        </div>
    </div>


    <div class="market-eval-section--row collapse" id="collapseBuildingFilter">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between">
                <p class="market-eval-section--label">
                    {% translate 'Filter by Rooftop Size (sqft)'%}
                </p>
                {% with tooltips.filter as tooltip %}
                {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
                {% endwith %}
            </div>
            <div class="py-3 slider-wrapper">
                {% include 'market_evaluator/atoms/double_sided_slider.html' %}
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between market-eval-section--row">
        <p class="market-eval-section--label">
            {% translate 'Potential Market Penetration'%}
        </p>
        <div class="d-flex flex-row market-eval-section--value-section">
            <div class="market-eval-section--value">
                <span style="display: flex;">
                    <input type="number" id="market_penetration_percent" name="market_penetration_percent" min="0"
                        max="100" disabled="" value="15" class="market-eval-section--inputtextarea">
                    <p class="market-eval-section--inputtextarea-percent">
                        %
                    </p>
                </span>
            </div>
            {% with tooltips.market_pen as tooltip %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>

    <div class="d-flex justify-content-between market-eval-section--row">
        <p role="text" tabindex="" class="market-eval-section--label">
            {% translate 'Potential Leads'%}</p>
        <div class="d-flex flex-row market-eval-section--value-section">
            <div class="market-eval-section--value">
                <div id="me-out-leads-loading-spinner" class="market-eval-section--spinner-container d-none">
                    {% with spinner_style='height: 15px;' blink=True spinner_classes="mr-2"%}
                    {% include "workspace/atoms/components/loading_spinner.html" %}
                    {% endwith %}
                </div>
                <h4 id="me-out-leads">
                    000
                </h4>
            </div>
            {% with tooltips.leads as tooltip %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
</div>