{% load i18n %}
<div>
    <h2>
        {% translate 'Market Sizing' %}
    </h2>
</div>
<div class="m-3 p-3 market-eval-section">
    <div class="d-flex justify-content-between">
        <p role="text" tabindex="">
            {% translate 'Buildings inside Coverage Area' %}<sup>
                <span>
                    [</span>
                1<span>
                    ]</span>
            </sup>
        </p>
        <div class="d-flex flex-row">
            <h3 class="my-auto">
                <span style="color: rgb(162, 162, 162);" id="me-out-buildings">
                    000</span>
            </h3>
            {% with tooltips.buildings as tooltip%}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="market-eval-divider"></div>
    <div class="d-flex justify-content-between">
        <p>
            {% translate 'Potential Market Penetration'%}</p>
        <div class="d-flex flex-row">
            <h3 class="my-auto">
                <span style="display: flex;">
                    <input type="number" id="market_penetration_percent" name="market_penetration_percent" min="0"
                        max="100" disabled="" value="15" style="color: rgb(162, 162, 162);">
                    <div>
                        %</div>
                </span>
            </h3>
            {% with tooltips.market_pen as tooltip %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="market-eval-divider"></div>
    <div class="d-flex justify-content-between">
        <p role="text" tabindex="">
            {% translate 'Potential Leads'%}</p>
        <div class="d-flex flex-row">
            <h3 class="my-auto">
                <span style="color: rgb(162, 162, 162);" id="me-out-leads">
                    000</span>
            </h3>
            {% with tooltips.leads as tooltip %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
</div>