{% load i18n %}
<h2>{% translate 'Market Data' %}</h2>
<div class="m-3 p-3 market-eval-section">
    <div class="d-flex justify-content-between">
        <p role="text" tabindex="">
            {% translate 'Building Density' %}</p>
        <div class="d-flex flex-row">
            <h3>
                <span style="color: rgb(162, 162, 162);">
                    0</span>
            </h3>
            {% with title='Building Density' body='The number of buildings in your selected area as buildings per mile squared.' link='https://github.com/Microsoft/USBuildingFootprints' link_desc='See Data Source' %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="market-eval-divider"></div>
    <div class="d-flex justify-content-between">
        <p role="text" tabindex="">
            {% translate 'Service Providers'%}<sup>
                <span>
                    [</span>
                2<span>
                    ]</span>
            </sup>
        </p>
        <div class="d-flex flex-row">
            <h3>
                <span style="color: rgb(162, 162, 162);">
                    0</span>
            </h3>
            {% with title='Service Providers' body='This is the number of Service Providers in the selected coverage area. Service Providers are listed in the order of their advertised speeds if available.' link='https://www.fcc.gov/general/broadband-deployment-data-fcc-form-477' link_desc='See Data Source' %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="market-eval-divider"></div>
    <div class="d-flex justify-content-between">
        <p role="text" tabindex="">
            {% translate 'Avg. Household Income'%}<sup>
                <span>
                    [</span>
                3<span>
                    ]</span>
            </sup>
        </p>
        <div class="d-flex flex-row">
            <h3>
                <span style="color: rgb(162, 162, 162);">
                    $000K</span>
            </h3>
            {% with title='Avg. Household Income' body='The average household income in the selected area, weighted by the total of buildings. Data does not reflect the income of individual households.' link='https://www.census.gov/programs-surveys/acs' link_desc='See Data Source' %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
    <div class="market-eval-divider"></div>
    <div class="d-flex justify-content-between">
        <p role="text" tabindex="">
            {% translate 'Median Speeds'%}<sup>
                <span>
                    [</span>
                5<span>
                    ]</span>
            </sup>
        </p>
        <div class="d-flex flex-row">
            <h3>
                <span style="color: rgb(162, 162, 162);">
                    0/0</span>
            </h3>
            {% with title='Median Speeds' body='The data presented is download/upload Mbps. Speed test results are a weighted average over zipcode medians if multiple zip/postal codes are selected.' link='https://support.measurementlab.net/help/en-us/10-data/26-how-does-m-lab-identify-the-locations-of-tests-how-precise-is-the-location-information' link_desc='See Data Source' %}
            {% include 'workspace/atoms/info_tooltip_and_marker.html' %}
            {% endwith %}
        </div>
    </div>
</div>