{% extends 'workspace/pages/base.html' %}

{% load i18n %}

{% block title %}
{% with title="Account Settings - ISP Toolbox"%}
{{block.super}}
{% endwith %}
{% endblock %}
{% block content %}
<div class="container settings-page" style="margin-top: 50px; margin-bottom: 50px;">
    {% if request.POST and form_save_success %}
    <div class="container alert-container">
        <div class="alert alert-success text-center alert-dismissible fade show" role="alert"
            id="success-update-profile">
            {% include "workspace/atoms/icons/toast_icons/success.html" %}
            <strong class="ml-3">{% translate "Success:" %}</strong> {% translate "Profile information updated." %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <script>
        $(()=>{
            setTimeout(()=>{
                $('#success-update-profile').slideUp(500).delay(500).alert('close');
            }, 3200)
        })
    </script>
    {% endif %}
    <div class="d-flex justify-content-between" style="padding-top: 3.5rem;">
        <h1>{% translate "Manage Account"%}</h1>
        <a class="btn btn-primary isptoolbox-btn m-2 p-2" href="{% url 'workspace:access_your_information'%}">
            {% translate "Download Your ISP Toolbox Information" %}
        </a>
    </div>
    <div class="account_settings" style="padding-bottom: 3.5rem;">
        <div class="manage-account">
            <div class="mt-4 w-100">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-start">
                            <h3 class="pb-3 my-1">{% translate "Personal Info" %}</h3>
                        </div>
                        <form action={{ request.path }} method="post" class="pb-3">
                            <fieldset class="isptoolbox-form" id="changeaccountinfoform">
                                {% csrf_token %}
                                {{ account_form }}
                                <input id="update-account-button" class="btn btn-primary  isptoolbox-btn mt-2"
                                    type="submit" name="update_account" value="{% translate 'Update Account'%}">
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="delete-account mt-4">
                    <div class="card">
                        <div class="card-body py-0">
                            <h1 class="pb-3"></h1>
                            <p><strong>{% translate "Delete ISP Toolbox Account"%}</strong></p>
                            <p>{% blocktranslate %}If you wish to delete your ISP Toolbox account, you may do so by clicking on the link below. Deleting your account is permanent and will remove all content associated with it. Deleting your ISP Toolbox account will not delete your Facebook account or the content that you've shared to your Facebook profile. See here to learn more about how to delete your Facebook account. {% endblocktranslate%}
                            </p>
                            <p>{% blocktranslate %}Please note that if you use your Facebook account to log in to the ISP Toolbox, deleting your Facebook account will also delete your ISP Toolbox information. {% endblocktranslate %}
                            <div>
                                <a href="{% url 'workspace:delete_your_information'%}">
                                    {% translate "Delete Your ISP Toolbox Information" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-details mt-4 w-100">
                {% with optional_account_form as form %}
                {% include "workspace/organisms/optional_survey.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}