{% extends 'workspace/pages/base.html' %}

{% load i18n %}

{% block title %}
{% with title="Account Settings - ISP Toolbox"%}
{{block.super}}
{% endwith %}
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 50px;">
<div class="account_settings">
    <div class="card mt-4">
        <div class="card-body">
            <div class=" d-flex align-items-start">
                <h1 class="pb-3">
                    Update Account
                </h1>
                <button class="btn btn-edit ap-edit-btn" type="submit"
                onclick="document.getElementById('changeaccountinfoform').removeAttribute('disabled')"

                >
                {% include 'workspace/atoms/pen_icon.html'%}
            </button>

            </div>
            <form action={{ request.path }} method="post" class="pb-3">
                
                <fieldset class="isptoolbox-form" disabled id="changeaccountinfoform">
                {% csrf_token %}
                {{ account_form }}
                <input id="update-account-button" class="btn isptoolbox-btn btn-primary mt-2" type="submit" name="update_account" value="Update Account">
                </fieldset>
            </form>
    
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <div class="d-flex align-items-start">
                <h1 class="pb-3">
                    Change Password
                </h1>
                <button class="btn btn-edit ap-edit-btn" type="submit"
                onclick="document.getElementById('changepasswordform').removeAttribute('disabled')"

                >
                {% include 'workspace/atoms/pen_icon.html'%}
            </button>
            </div>

            <form action={{ request.path }} method="post" class="pb-3">
                <fieldset class="isptoolbox-form" disabled id="changepasswordform">
                {% csrf_token %}
                {{ password_form }}
                <input class="btn isptoolbox-btn btn-primary mt-2" type="submit" name="change_password" value="Change Password">
                </fieldset>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <div class=" d-flex align-items-start">

            <h1 class="pb-3">
                User Info
            </h1>
                <button class="btn btn-edit ap-edit-btn" type="submit"
                onclick="document.getElementById('account_info_form').removeAttribute('disabled')"

                >
                {% include 'workspace/atoms/pen_icon.html'%}
            </button>
                
            </div>
            <form action={{ request.path }} method="post" class="pb-3">
                <fieldset class="isptoolbox-form" disabled id="account_info_form">
                {% csrf_token %}
                {{ optional_account_form }}
                <input class="btn isptoolbox-btn btn-primary mt-2" type="submit" name="user_info" value="Update Info">
                </fieldset>
            </form>
        </div>
    </div>
<!-- 
    <div class="card mt-4">
        <div class="card-body">
            <h1 class="pb-3">
                Social
            </h1>
            <form method="post" class="isptoolbox-form pb-3">
                {% csrf_token %}
                {{ social_form }}
            </form>
        </div>
    </div> -->

    <!-- <div class="card mt-4">
        <div class="card-body">
            <h1 class="pb-3">
                Organization
            </h1>
        </div>

    </div> -->

    <div class="card mt-4">
        <div class="card-body">
            <div class="card-header d-flex justify-content-between">
                <h1>{% translate "Manage Your Information"%}</h1>
            </div>
            <div>
                <a class="btn btn-primary isptoolbox-btn m-2 p-2" href="{% url 'workspace:access_your_information'%}">{% translate "Access Your Information"%}</a>
                <a class="btn btn-danger isptoolbox-btn m-2 p-2" href="{% url 'workspace:delete_your_information'%}">{% translate "Delete Your Information"%}</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}