{% extends 'workspace/pages/base.html' %}
{% load i18n tz %}
{% block title %}
{% with title="Access Your Information - ISP Toolbox"%}
{{block.super}}
{% endwith %}
{% endblock %}
{% block content %}
{% with page_obj=data_requests %}

<div class="modal-dialog modal-xl modal-dialog-centered " role="document">
    <div class="modal-content p-2 w-75">
        <div class="modal-header">
            <h3 class="modal-title">{% translate "Download your information"%}</h3>
        </div>
        <h4 class="modal-title px-3 py-3">{% translate "Get a copy of all your data from ISP Toolbox"%}</h4>
        <div class="modal-body">
            <p>{% blocktranslate %}To request a copy of your ISP Toolbox data, click the “Request Data” button. Your
                data will be aggregated into a file shown here when it’s ready to download. {% endblocktranslate%}</p>
            {% for job in page_obj %}
            <div class="d-flex my-3 py-2">
                {% if job.data_dump%}
                <a type="submit" class="btn btn-edit ap-edit-btn" href="{{job.data_dump.url}}" target="_blank">
                    {% include 'workspace/atoms/icons/save_icon.html'%} Download
                </a>
                {% else %}
                <a type="submit" class="btn">
                    {% include 'workspace/atoms/icons/loading_circle_spinner.html'%} {{job.task_result.status | title}} &nbsp;
                </a>
                {% endif %}
                <div class="ml-5 my-auto">
                    <p class="mb-0"><strong>{{job.owner.first_name}}_{{job.owner.last_name}}.json</strong> &nbsp; &nbsp; {%translate 'created '%}{{ job.created|localtime }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="p-3 flex-lg-row">
            {% if page_obj.0.data_dump or page_obj|length == 0 %}
            <form action="{% url 'workspace:access_your_information' %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary isptoolbox-btn mt-2 mt-lg-0"
                    value="{%translate 'Request Data'%}">
            </form>
            {% else %}
            <a href="{% url 'workspace:access_your_information' %}" class="btn btn-primary isptoolbox-btn mt-2 mt-lg-0">{% translate "Refresh"%}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}