{% spaceless %}
<!DOCTYPE html>
{% load static i18n django_htmx %}
<html lang="en">
<head>
{% block title %}<title>{% if title %}{% translate title %}{% else %}{% translate "ISP Toolbox" %}{% endif %}</title>{% endblock title %}
    {% include "workspace/organisms/default_header.html" %}
    {% block additional_headers %}
    {% endblock %}
    {% block seo_headers %}
    {% include "workspace/atoms/seo_headers.html"%}
    {% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="d-flex flex-column min-vh-100">
        <header>
            {% block beforenav %}
            {% endblock %}
            {% block nav %}
            {% include "workspace/organisms/nav.html" %}
            {% endblock %}
        </header>
        <div class="flex-grow-1">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            {%block footer%}
            {% include "workspace/organisms/footer.html" %}
            {% endblock %}
        </footer>
    </div>
    {% include 'workspace/atoms/screen_size_logging.html'%}
    <script src="{% static 'workspace/htmx.min.js' %}"></script>
    {% django_htmx_script %}
</body>
</html>
{% endspaceless %}