<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% include "workspace/organisms/default_header.html" %}
</head>
<body>
    <div id="fb-root"></div><script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=2704261536510806&autoLogAppEvents=1" nonce="olbpdF6R"></script>
    {% include "workspace/organisms/nav.html" %}
    <div style="margin-top: 70px;"></div>
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row d-flex justify-content-around">
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'networks' %}">
                        <img class="card-img-top" src='{% static "mmwave/loading_image.gif" %}' alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <a href="{% url 'networks' %}">
                            <h5 class="card-title">Network</h5>
                        </a>
                        <p class="card-text">Evaluate PtP Links using LiDAR Data</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <a href="">
                        <img class="card-img-top" src='{% static "mmwave/market_isptoolboxpro.gif" %}' alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <a href="">
                            <h5 class="card-title">Market</h5>
                        </a>
                        <p class="card-text">Evaluate new or existing markets and determine which technologies are most applicable.</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <h1> Sign Up for ISP Toolbox Pro</h1>
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </div>
    {% endif %}
</body>
</html>