{% extends "workspace/pages/base.html" %}
{% load static %}

{% block beforenav %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=2704261536510806&autoLogAppEvents=1"
    nonce="P9LF7zhY">
</script>
{% endblock %}

{% block content %}
<div class="container flex-grow-1" style="margin-top: 70px;">
{% if user.is_authenticated %}
    {% include "workspace/organisms/landing_page_container.html" %}
{% else %}
    {% include "workspace/organisms/signup_container.html" %}
    {% include "workspace/organisms/signin_container.html" %}
    {% include "workspace/organisms/signup_email_container.html" %}
    <script src="{% static "login_signup.min.js" %}"> </script>
{% endif %}
</div>
{% endblock %}