{% extends 'workspace/pages/workspace_tool_base.html' %}
{% load static %}

{% block custom_headers %}
  {% include "workspace/molecules/page_header_market_eval.html" %}
  <title>{{title}}</title>
{% endblock %}

{% block nav %}
  {% include 'workspace/organisms/nav.html' with page_title="Market Evaluator" nav_is_app_page=True nav_include_account_dropdown=True %}
{% endblock %}

{% block content %}

  {% load isp_toolbox_sources %} 
  {% new_sources_list as sources %}
  {% url 'workspace:sources' sources_page='market_eval' as sources_page_url %}
  
  <div class="website-content">
    <div class="market-eval-container">
      {% include "market_evaluator/organisms/market_stats_column.html" with footnote_id="footnotes-section" %}
      <div class="map-container-network order-1 order-md-2" style="width: 100%;">
        {% include 'workspace/organisms/map_view_base.html' %}
      </div>
    </div>
  </div>

  {% include "workspace/organisms/market_eval_competitors.html" %}

  <script async src="{% static "market_evaluator.min.js" %}"> </script>
  {{ geojson|json_script:"isp-map-features" }}
  {% include "workspace/organisms/nux_market.html"%}

  {% comment %} {% citation sources id="CloudRF" render=False %}
    High-level line of sight is obtained via {% source_link "US" "CLOUD_RF" %}.
    (resolution is ~30m x 30m). {% source_last_updated "US" "CLOUD_RF" format="Data as of <last_updated>." last_updated_format="%Y" %}
  {% endcitation %} {% endcomment %}

  {% citation sources id="Mapbox" render=False %}
    Address data obtained via {% source_link "US" "MAPBOX" %}'s Geocoding API.
  {% endcitation %}

{% endblock %}

{% block footer %}
  {% include 'workspace/molecules/market_disclaimer.html' %}
{% endblock footer %}