{% extends 'workspace/organisms/sources_page_base.html' %}

{% block sources_page_disclaimer %}
++ This tool is intended for informational purposes only, and is provided "as is" solely in order to generate estimates. Please perform independent market research and consult an expert before deploying a network. Facebook makes no warranties regarding the accuracy of the tool or the third-party data sources and tools referenced below. Users are encouraged to check cited sources for latest updates and to learn more. Data is only available in the United States.
{% endblock %}