{% extends 'workspace/pages/workspace_tool_base.html' %}
{% load static %}
{% url 'sources' sources_page='market_eval' as sources_page_url %}

{% block custom_headers %}
  {% include "workspace/molecules/page_header_market_eval.html" %}
  <title>{{title}}</title>
{% endblock %}

{% block nav %}
  {% include 'workspace/organisms/workspace_nav.html' with page_title="Market Evaluator"%}
{% endblock %}

{% block content %}

  <div class="d-flex market-eval-container website-content">
    {% include "market_evaluator/organisms/market_stats_column.html" with footnote_id="footnotes-section" %}
    <div id='map' class='planner-map col-12 col-md-7 col-lg-8 col-xl-9 col-xxl-10 order-1 order-md-2 px-0' style="min-height: 500px" data-workspace-tool='market_evaluator'>
      <div class="search-container on-map-controls">
        {% include "workspace/atoms/components/reconnecting_msg.html" %}
        <div id="geocoder" class="geocoder-container"></div>
      </div>
      <div class="on-map-controls" style="right: 0;">
          {% include "workspace/molecules/draw_controls.html" with tool="market_evaluator" %}
        <div class="layer-button-container">
          {% include "workspace/atoms/buttons/map_layers_button.html" %}
        </div>
      </div>
    </div>
    {% include "workspace/molecules/map_layer_sidebar.html" with footnote_id="footnotes-section" %}
  </div>
  </div>

  {% include "workspace/organisms/market_eval_competitors.html" %}

  
  <script async src="{% static "market_evaluator.min.js" %}"> </script>
  {{ geojson|json_script:"isp-map-features" }}
  {% include "workspace/organisms/nux_market.html"%}


{% endblock %}