{% extends 'workspace/pages/workspace_tool_base.html' %}

{% load static isp_toolbox_sources %}
{% url 'sources' sources_page="edit_network" as sources_page_url %}

{% comment %}
Not rendering this citation for now, but will be useful for sources page 
{% endcomment %}
{% citation sources id="Lidar Data" render=False %}
  LiDAR Data Obtained via {% source_link "US" "USGS_3DEP" %}.
  Check for <a href="{% url "demo-latest_gis-nodate" %}" target="_blank"> new LiDAR updates</a>.
{% endcitation %}

{% block custom_headers %}
  {% include "workspace/molecules/page_header_network.html" %}
  <title>{{title}}</title>
{% endblock %}

{% block nav %}
  {% include 'workspace/organisms/workspace_nav.html' with page_title="LOS Check" %}
{% endblock %}
  
{% block content %}
  <div class="website-content">
    <div class="map-container-network">
      {% include "mmwave/map_view.html" %}   
    </div>
    {% include "mmwave/3d_view.html" %}
    {% include "mmwave/link_view.html" %}
  </div>

  <script async src="{% static "wireless_network.min.js" %}"> </script>
  {{ geojson|json_script:"isp-map-features" }}
  {% include "workspace/organisms/access_point_bulk_upload_modal.html" %}
  {% include "workspace/organisms/nux_network.html" %}

{% endblock %}