{% extends 'workspace/pages/workspace_tool_base.html' %}
{% load static %}

{% block custom_headers %}
  {% include "workspace/molecules/page_header_network.html" %}
  <title>{{title}}</title>
{% endblock %}

{% block nav %}
  {% include 'workspace/organisms/nav.html' with page_title="LOS Check" nav_is_app_page=True nav_include_account_dropdown=True %}
{% endblock %}
  
{% block content %}

  {% load isp_toolbox_sources %} 
  {% new_sources_list as sources %}
  {% url 'sources' sources_page="edit_network" as sources_page_url %}
  
  <div class="website-content">
    <div class="map-container-network">
      {% include "mmwave/map_view.html" %}   
    </div>
    {% include "mmwave/3d_view.html" %}
    {% include "mmwave/link_view.html" %}
  </div>

  <script async src="{% static "wireless_network.min.js" %}"> </script>
  {{ geojson|json_script:"isp-map-features" }}
  {% include "workspace/organisms/access_point_bulk_upload_modal.html" %}
  {% include "workspace/organisms/nux_network.html" %}

  {% comment %}
  Not rendering this citation for now, but will be useful for sources page 
  {% endcomment %}
  {% citation sources id="Lidar Data" render=False %}
    {% source_link "US" "USGS_3DEP" %} obtained via {% source_link "US" "USGS_3DEP_POINT_CLOUDS" %}.
    Last updated date can be found in the legend tooltip.
    Check for <a href="{% url "demo-latest_gis-nodate" %}" target="_blank"> new LiDAR updates</a>.
    Clear or obstructed LiDAR data depends on changes in foliage or other obstructions.
  {% endcitation %}

{% endblock %}