{% extends "workspace/molecules/tower_tooltip_form_base.html" %}
{% load i18n address_format isp_toolbox_units isp_toolbox_sources isp_toolbox_tool_info %}

{% block title %}
    <a id="back-to-tower-sector-popup" data-target="{{ ap.uuid }}">{% translate "Edit Tower" %}</a> /
    {% translate "Edit Access Point" %}
{% endblock %}

{% block content %}
{% reverse_geocoded_address_lines ap.lat ap.lng as address_lines %}
{% load_tool_info tool as tool_info %}
{% load_sources_from tool_info.app_page_template sources with tool=tool as sources %}

</ul>
    <li class="pb-n3"> 
        <div class="description mb-0">
            <p><b>{{ address_lines | first }}{% existing_citation sources "Mapbox" href=tool_info.sources_page_url footnote_id="footnotes-section" %}</b></p>
            <p>{{ ap.lat|floatformat:5 }}, {{ ap.lng|floatformat:5 }}</p>
        </div>
    </li>
    <li class="name-row">
        <div class="d-flex">
        <p class="label">{% translate "Access Point Name" %}</p>
        <a class="label text-right">{% translate "+ Add Access Point" %}</a>
        </div>
        {% include "workspace/atoms/components/tooltip_tower_name_input.html" with tower_input_name=name %}
    </li>
<div class="d-flex p-1 justify-content-between">
    <div>
    <li class="ap-li">
        <p class="label">{% translate "Heading" %}</p>
        <div class="data-with-unit">
            <input type="number"
                name="heading"
                value="{{ heading|floatformat:2 }}"
                id="heading-input-sector-popup"
                min="0" max="360" step="0.01"
                class="ap-input--value"
            >
            <span>&#176;</span>
        </div>
    </li>
    <li class="ap-li">
        <p class="label">{% translate "Access Point Height" %}</p>
        <div class="data-with-unit">
            <input type="number"
                name="{% unit_preference_value units "default_cpe_height_ft" "default_cpe_height" %}"
                value="{% unit_preference_value units default_cpe_height_ft|floatformat:"0" default_cpe_height|floatformat:"0" %}"
                id="cpe-hgt-sector-popup"
                class="ap-input--value"
            >
            <span>{% unit_preference_value units "ft" "m" %}</span>
        </div>
    </li>
    <li class="ap-li">
        <p class="label">{% translate "Install Height" %}</p>
        <div class="data-with-unit">
            <input type="number"
                name="{% unit_preference_value units "height_ft" "height" %}"
                value="{% unit_preference_value units height_ft|floatformat:"0" height|floatformat:"0" %}"
                id="height-input-sector-popup"
                class="ap-input--value"
            >
            <span>{% unit_preference_value units "ft" "m" %}</span>
        </div>
    </li>
    </div>
    <div class="ml-2">
    <li class="ap-li">
        <p class="label">{% translate "Beamwidth Azimuth" %}
        <div class="data-with-unit">
                <input type="number"
                    name="azimuth"
                    value="{{ azimuth|floatformat:2 }}"
                    id="azimuth-input-sector-popup"
                    min="0.01" max="360" step="0.01"
                    class="ap-input--value"
                >
                <span>&#176;</span>
        </div>
    </li>
    <li class="ap-li">
        <p class="label">{% translate "Distance" %}</p>
        <div class="data-with-unit">
            <input type="number"
                name="{% unit_preference_value units "radius_miles" "radius" %}"
                value="{% unit_preference_value units radius_miles|floatformat:2 radius|floatformat:2 %}"
                id="radius-input-sector-popup"
                class="ap-input--value"
            >
            <span>{% unit_preference_value units "mi" "km" %}</span>
        </div>
    </li>

    <li class="ap-li">
        <p class="label">{% translate "Frequency" %}</p>
        <select name="frequency" id="freq-select-sector-popup">
            {% frequency_dropdown_option frequency 2.437 2.4 %}
            {% frequency_dropdown_option frequency 3.6 3.65 %}
            {% frequency_dropdown_option frequency 5.4925 5 %}
            {% frequency_dropdown_option frequency 11.2 11 %}
            {% frequency_dropdown_option frequency 18.7 18 %}
            {% frequency_dropdown_option frequency 24.35 24 %}
            {% frequency_dropdown_option frequency 64.79 60 %}
        </select>
    </li>
    </div>
</div>
    <li class="stat-row">
        <button class='btn btn-primary isptoolbox-btn w-100' id='coverage-viewshed-btn-sector-popup'>
            {% if tool == "market_evaluator" %}
                {% translate "Plot Estimated Coverage" %}{% existing_citation sources "CloudRF" %}
            {% elif tool == "los_check" %}
                {% translate "Calculate Coverage" %}
            {% endif %}
        </button>
    </li>
    {% include "workspace/molecules/tooltip_delete_row.html" with delete_row_div_id="delete-sector-row-sector-popup" delete_row_a_id="sector-delete-btn" delete_row_object_name="Access Point" delete_row_last_updated=last_updated %}
</ul>
{% endblock %}