{% extends "workspace/molecules/tower_tooltip_form_base.html" %}
{% load i18n address_format isp_toolbox_sources isp_toolbox_tool_info %}

{% block content %}
{% reverse_geocoded_address_lines lat lng as address_lines %}
{% load_tool_info tool as tool_info %}
{% load_sources_from tool_info.app_page_template sources with tool=tool as sources %}

<ul>
    <li class="name-row">
        <form method="POST" action="." data-url="{% url 'workspace:tower-form' tool uuid %}" id="tower-update-form-name">
            {% csrf_token %}
            <div class="d-flex">
                <p class="label">{% translate "Tower Name" %}</p>
            </div>
            <div class="name-input" id="name-div-sector-popup">
                {% include "workspace/atoms/components/tooltip_tower_name_input.html" with name_input_additional_classes="" name_input_id="name-input-ap-popup" name_input_placeholder="Sector Name" name_input_data_param_put_after_id="name-div-sector-popup" disabled=True%}
                <button class="btn btn-edit tooltip-input-btn d-none" title="Save Tower Name"
                    id="save-ap-name-btn" type="submit" name="submit">
                    {% include 'workspace/atoms/icons/save_icon.html'%}
                </button>
                <button type="button" class="btn btn-edit tooltip-input-btn" title="Edit Tower Name"
                    id="edit-ap-name-btn">
                    {% include 'workspace/atoms/pen_icon.html'%}
                </button>
            </div>
        </form>
    </li>
    <li class="name-row">
        <form method="POST" action="." data-url="{% url 'workspace:tower-form' tool uuid %}" id="tower-update-form-coord">
        {% csrf_token %}
            <div class="d-flex">
                <p class="label">{% translate "Coordinates" %}</p>
            </div>
            <div class="name-input" id="name-div-sector-popup">
                <input type="text"
                value="{{ lat|floatformat:5 }}, {{ lng|floatformat:5 }}"
                id="lat-lng-input-tower-popup"
                placeholder="latitude, longitude"
                class="input--tower-name"
                name="coordinates"
                data-rule-latlng="true"
                data-msg-latlng="{% translate "Please enter a valid &quot;latitude, longitude&quot; pair."%}"
                required
                disabled
                {% if uneditable %} readonly="true" {% endif %}
                >
                <button class="btn btn-edit tooltip-input-btn d-none" title="Save Tower Coordinates"
                    id="save-ap-coord-btn" type="submit" name="submit">
                    {% include 'workspace/atoms/icons/save_icon.html'%}
                </button>
                <button type="button" class="btn btn-edit tooltip-input-btn" title="Edit Tower Coordinates"
                    id="edit-ap-coord-btn">
                    {% include 'workspace/atoms/pen_icon.html'%}
                </button>
            </div>
        </form>
    </li>
    <li>
        <div class="description">
            <p>{{ address_lines | first }}{% existing_citation sources "Mapbox" href=tool_info.sources_page_url footnote_id="footnotes-section" %}</p>
            {% for line in address_lines|slice:"1:" %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
    </li>
    <li class="stat-row">
        <button class='btn btn-primary isptoolbox-btn w-100' id='place-sector-btn-tower-popup' type='submit' name='submit'>
            {% translate "Add Access Point"%}
        </button>
    </li>
    {% include "workspace/molecules/tooltip_delete_row.html" with delete_row_div_id="delete-tower-row-tower-popup" delete_row_a_id="tower-delete-btn" delete_row_object_name="Tower" delete_row_last_updated=last_updated %}
</ul>

{% endblock %}