{% extends "workspace/molecules/tower_tooltip_form_base.html" %}
{% load i18n address_format isp_toolbox_sources isp_toolbox_tool_info %}

{% block content %}
{% reverse_geocoded_address_lines lat lng as address_lines %}
{% load_tool_info tool as tool_info %}
{% load_sources_from tool_info.app_page_template sources with tool=tool as sources %}

<ul>
    <div class="stat-section">
        <form method="POST" action="." data-url="{% url 'workspace:tower-form' tool uuid %}"
            id="tower-update-form-name">
            {% csrf_token %}
            <li class="name-row">
                <div class="d-flex">
                    <p class="label">{% translate "Tower Name" %}</p>
                </div>
                <div class="name-input">
                    {% include "workspace/atoms/components/tooltip_tower_name_input.html" with name_input_additional_classes="tall-input" name_input_id="name-input-ap-popup" name_input_placeholder="Tower Name" %}
                </div>
            </li>
            <li class="name-row">
                <div class="name-input">
                    <input type="text" value="{{ lat|floatformat:5 }}, {{ lng|floatformat:5 }}"
                        id="lat-lng-input-tower-popup" placeholder="latitude, longitude" class="input--tower-name tall-input"
                        name="coordinates" data-rule-latlng="true"
                        data-msg-latlng="{% translate "Please enter a valid &quot;latitude, longitude&quot; pair."%}"
                        required {% if uneditable %} readonly="true" {% endif %}>
                </div>
            </li>
            <li>
                <div class="description mb-0">
                    <p>{{ address_lines | first }}{% existing_citation sources "Mapbox" href=tool_info.sources_page_url footnote_id="footnotes-section" %}
                    </p>
                    {% for line in address_lines|slice:"1:" %}
                    <p>{{ line }}</p>
                    {% endfor %}
                </div>
            </li>
            <input type="submit" class='btn btn-primary isptoolbox-btn w-100 d-none'
                value="{% translate "Update Tower" %}">
        </form>
    </div>
    <div class="stat-section">
        <button class='btn btn-secondary isptoolbox-btn w-100' style="background-color: rgba(0,0,0,0) !important;"
            id='place-sector-btn-tower-popup'>
            {% translate "Add Access Point"%}
        </button>
        <a href="#" data-toggle="modal" tabindex="-1" data-target="#accessPointModal" data-ap="{{uuid}}"">
            <button class='btn btn-secondary isptoolbox-btn w-100' style="border: none; background-color: rgba(0,0,0,0) !important;">
                {% translate "Add Multiple Access Points"%}
            </button>
        </a>
        {% include "workspace/molecules/tooltip_delete_row.html" with delete_row_div_id="delete-tower-row-tower-popup" delete_row_a_id="tower-delete-btn" delete_row_object_name="Tower" delete_row_last_updated=last_updated %}
    </div>
</ul>

{% endblock %}