<!DOCTYPE html>
{% load static %} 
{% load js_reverse %}

<html lang="en">
  <head>
    {% include "workspace/molecules/page_header.html" %} 
    {% block custom_headers %}
    {% endblock %}
  </head>

  <body>
    {% block nav %}
    {% endblock %}

    <div class="workspace-container">      
      {% block content %}
      {% endblock %}
    </div>
    {% block footer%}
    {% endblock %}

    {% include "workspace/organisms/workspace_session_modals.html" %}
    {% include "workspace/organisms/confirmation_modals.html" %}
    {% include "workspace/organisms/export_kmz_modal.html" %}
    {% include "workspace/organisms/access_point_bulk_upload_modal.html" %}
    {% include "workspace/atoms/mapbox_global_public_key.html" %}
    {% include "workspace/molecules/workspace_session_info.html" %}

    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
  </body>
</html>
