<button type="button" class="btn isptoolbox-btn btn-secondary btn-large isp-draw-mode-btn{%if width %} w-100{%endif%}"
    {{extra_params|default:''}} id="{{button_id}}" {% if button_draw_mode %} draw_mode="{{button_draw_mode}}"
    {% endif %}>
    {% if button_icon %}
    <div>{% include button_icon %}</div>
    {% endif %}
    <span id="{{button_id}}_txt" class="ml-3 d-none d-lg-block">{{button_text}}</span>
</button>
<script>
$(()=>{
    $('#{{button_id}}').mouseenter( (event) => {
        $('#{{button_id}}_txt').removeClass('d-none');    
    })
    $('#{{button_id}}').mouseleave( (event) => {
        $('#{{button_id}}_txt').addClass('d-none');         
    })

})
</script>