@import '../_theme.sass'
@import '../fonts'

.dashboard
  margin-top: 50px
  min-height: calc(100vh - 100px)

  /*
    namespacing new typography rules under dashboard for now
    TODO: Implement this sitewide
  h1, h2, h3, h4, h5, p
    font-family: $brand-font-family-sans-serif
    color: $brand-dark-gray-color
    font-weight: 300
    margin: 0

  h1
    font-size: 2.5rem
    line-height: 2.75rem
  
  h2
    font-size: 2.1rem
    line-height: 2.5rem

  h3 
    font-size: 1.72rem
    line-height: 2rem
  
  h4
    font-size: 1.43rem
    line-height: 1.5rem
  
  h5
    font-size: 1.2rem
    line-height: 1.5rem

  h6 
    font-size: 1.2rem
    line-height: 1.5rem

  p
    font-size: 1rem
    line-height: 1.5rem
  
  .small
    font-size: .83rem
    line-height: 1.5rem
  
  @media screen and (min-width: $breakpoint-lg) 
    h1
      font-size: 3.35rem
      line-height: 3.5rem
  
    h2
      font-size: 2.83rem
      line-height: 3.5rem


    h3 
      font-size: 2.33rem
      line-height: 2.5rem
    
    h4
      font-size: 1.94rem
      line-height: 2rem
    
    h5
      font-size: 1.62rem
      line-height: 2rem

    h6 
      font-size: 1.35rem
      line-height: 1.75rem
    
    p
      font-size: 1.125rem
      line-height: 1.75rem
    
    .small
      font-size: .9375rem
      line-height: 1.5rem
  // end of typography rules

  .error
    color: $error-color

  .text-container
    text-align: left
    padding: 2rem 0
    max-width: 100%
    
    .title-copy
      margin-top: 2rem

    @media screen and (min-width: $breakpoint-md) 
      text-align: center
      padding: 3rem 0
      margin: 0 auto
      max-width: 66%
    
    @media screen and (min-width: $breakpoint-lg)
      max-width: min(50%, 800px)
  
  .text-container.error
    margin-top: 0
    padding-top: 0
    flex-direction: row
    align-items: center
    svg 
      margin-right: 1rem

  .card-wrapper
    max-width: 1200px
    margin: 0 auto  
    display: grid
    grid-gap: 1rem

    @media screen and (min-width: $breakpoint-md)
        grid-template-columns: repeat(2, 1fr)
      
    .card 
      background-color: white
      border: 1px solid $brand-theme-color
      width: 100%
      margin-bottom: 1rem

      .header-row
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: 1rem

        .subheading
          color: $dashboard-subheading-gray
        
        svg
          transform: translateY(-1px)
      
      p
        padding-top: .5rem
  
  .text-container-links
    text-align: center
    margin: 2rem 0

    p 
      margin-bottom: .3rem
    
