@import ../theme

.website-content
    height: 100%
    .planner-map
        width: 100%

@media (max-width: $breakpoint-md)
    .website-content
        overflow-y: auto
        flex-direction: column
