//  (c) Meta Platforms, Inc. and affiliates. Copyright
@import ../theme

.website-content
    height: 100%
    .planner-map
        width: 100%

.table
    thead
        th
            vertical-align: middle

.table
    td
        vertical-align: middle

input:disabled
    background-color: white !important

@media (max-width: $breakpoint-md)
    .website-content
        overflow-y: auto
        flex-direction: column
