@use '../atoms/headings'
@use '../atoms/buttons'
@use '../atoms/loading-icon'
@use '../atoms/tooltips'
@use '../atoms/_collapse-button'
@use '../atoms/_reconnecting_status'
@use '../atoms/_footnote-id'
@use '../atoms/toggle-switch'
@use '../molecules/cards'
@use '../molecules/_map-tooltips'
@use '../molecules/frequency_dropdown'
@use '../molecules/webgl2-error-msg'
@use '../molecules/error-container'
@use '../organisms/profile-view'
@use '../organisms/map-view'
@use '../organisms/lidar-availbility-mapbox-popup'
@use '../organisms/radio-view'
@use '../organisms/_market-eval-overlaybar'
@use 'global.sass'
@use '../mixins'
@use '../fonts'
@use '../overrides'
@import '../theme'


body
    background-color: $brand-theme-color
    overflow: auto !important
    h5
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 27px
        letter-spacing: 0.01em

    // potree overrides
    .annotation
        .annotation-titlebar
            border-radius: 0px
            .annotation-label
                font-family: $brand-font-family-sans-serif
    .potree_failpage
        text-align: center

    ::-webkit-scrollbar
        width: 6px
    ::-webkit-scrollbar-thumb
        background-color: $light-gray-color
    
    .network-page-wrapper
        height: 100%
        width: 100%
        display: flex 
        flex-direction: row
        justify-content: flex-start

        .map-container
            width: 100%



.nodes-loading-message
    display: none
    font-family: $brand-font-family-mono
    margin-right: 5px
    color: $white-color

@media (min-width: 640px)
    .nodes-loading-message
        display: inline-block
    
