{% load static %}
<div class="modal theme-modal fade" id="bulkUploadAccessPoint" tabindex="-1" role="dialog" aria-labelledby="bulkUploadAccessPointLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form action="{% url 'bulk_tower_upload' %}?next={{request.get_full_path}}" method="post" enctype="multipart/form-data">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="bulkUploadAccessPointLabel">Upload Towers</h3>
        <div class="d-flex">
          <a href="{% static "workspace/tower_sample.csv" %}">
              <button type="button" class="btn isptoolbox-btn btn-secondary">
                  Sample File
              </button>
          </a> 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
      </div>
      <div class="modal-body bulk-upload-modal" id="ap-upload-modal-body" >
            {% with spinner_style='height: 75px; width: 100%;' blink=False spinner_classes="mx-auto mb-3" %}
                {% include "workspace/atoms/components/loading_spinner.html" %}
            {% endwith %}
            {{ tower_upload_form }}
            {% csrf_token %}
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn isptoolbox-btn btn-primary" value="Upload">
      </div>
    </div>
    </form>
  </div>
</div>