{% load i18n %}
<div class="modal theme-modal fade" id="accessPointModal" tabindex="-1" role="dialog"
  aria-labelledby="accessPointModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="accessPointModalLabel">{% translate "Tower Locations"%}</h3>
        <div class="d-flex">
          {% if request.user.is_authenticated and not demo%}
          <button type="button" class="btn isptoolbox-btn btn-primary" data-dismiss="modal" data-toggle="modal"
            data-target="#bulkUploadAccessPoint">{% translate "Bulk Import"%}</button>
          {% endif %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
      </div>
      <div class="modal-body" id="ap-list-modal-body">
        {% with spinner_style='height: 75px; width: 100%;' blink=True spinner_classes="mx-auto mb-3" %}
        {% include 'workspace/atoms/components/loading_spinner.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>