{% load i18n %}
<div class="modal theme-modal fade" id="apSectorModal" tabindex="-1" role="dialog" aria-labelledby="apSectorModalLabel"
  aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="apSectorModalLabel">{% translate "AP Sectors"%}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
        <div class="modal-body">
          <div class="isptoolbox-form">
            {% csrf_token %}
            {{ workspace_forms.save_as_session }}
            <input type="text" value="{{session.uuid}}" hidden name="session">
          </div>
          <input type="submit" class="btn btn-primary isptoolbox-btn modal-btn" value="Save">
          <p class="error d-none"></p>
        </div>
      </div>
    </div>
</div>