{% include "workspace/organisms/ap_delete_confirmation_modal.html" %}
{% include "workspace/organisms/everything_delete_confirmation_modal.html" %}
{% include "workspace/organisms/selection_delete_confirmation_modal.html" %}
{% include "workspace/organisms/session_delete_confirmation_modal.html" %}

{% with modal_id="delete_modal"%}
{% include "workspace/organisms/base_modal.html" %}
{% endwith %}

{% with modal_id="edit_modal" extra_classes="modal-xl"%}
{% include "workspace/organisms/base_modal.html" %}
{% endwith %}
