<!-- Modal -->
<div class="modal fade" id="create_account_modal" tabindex="-1" role="dialog" aria-labelledby="create account prompt" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">This Feature Requires An ISP Toolbox Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% include "workspace/organisms/signup_container.html" %}
          {% include "workspace/organisms/signin_container.html" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>