<!-- Modal -->
<div class="modal theme-modal fade onboarding_container signup_modal" id="redirect_workspace_modal" tabindex="-1" role="dialog" aria-labelledby="suggest create account" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="heading-3 modal-title">Save your work</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="onboarding_container--intro-copy large-paragraph">Signing up for Workspace gives you the ability to save and reuse files across ISP Toolbox</p>
        {% include 'workspace/organisms/value_props.html' %}

        <a href="{% url 'isptoolbox_pro_home' %}" target="_parent">
            <button type="button" class="btn btn-primary isptoolbox-btn large">Sign Up</button>
        </a>
    </div>
    <div class="modal-footer">
        <p>Already have an account? <a href="#" class="dy_have_account">Sign in</a></p>
    </div>
    </div>
</div>
</div>