{% load i18n %}
<div class="workspace-footer">
    <div class="container_copyright">
        <p>&#169; {% now "Y" %} Meta</p>
    </div>
    <div class="container_links">
    <a href="https://transparency.fb.com/policies/community-standards/" target="_blank">{% trans "Community Standards"%}</a>
    <a href="https://www.facebook.com/policy.php/" target="_blank">{% trans "Data Policy"%}</a>
    <a href="https://www.facebook.com/terms.php/" target="_blank">{% trans "Terms"%}</a>
    <a href="https://www.facebook.com/policy/cookies/" target="_blank">{% trans "Cookie Policy"%}</a>
    <a class="arrow-link" href='https://www.facebook.com/fbctoolbox' target="_blank">
        {% trans "Contact"%} 
        <svg
            class="arrow-link--icon"
            width="19"
            height="19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
            d="M4.294 14.763l9.155-9.155m-6.117-.47l6.43.156.158 6.432"
            strokeWidth="1.5px"
            />
        </svg>
    </a>
</div>
</div>