{% load i18n %}
<div class="workspace-footer">
    <div class="container_copyright">
        <p>Meta &#169; {% now "Y" %}</p>
    </div>
    <div class="container_links">
    <a href="https://www.facebook.com/privacy/explanation/" target="_blank">{% trans "Privacy"%}</a>
    <a href="https://www.facebook.com/policy/" target="_blank">{% trans "Legal"%}</a>
    <a href="https://www.facebook.com/legal/commercial_terms" target="_blank">{% trans "Commercial Terms"%}</a>
    <a class="arrow-link" href='https://www.facebook.com/fbctoolbox' target="_blank">
        {% trans "Contact"%} 
        <svg
            class="arrow-link--icon"
            width="19"
            height="19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
            d="M4.294 14.763l9.155-9.155m-6.117-.47l6.43.156.158 6.432"
            strokeWidth="1.5px"
            />
        </svg>
    </a>
</div>
</div>