<div class="modal fade" id="importKMZModal" tabindex="-1" role="dialog" aria-labelledby="importKMZModalLabel" aria-hidden="true">
<form action="{% url 'session_create' %}" method="POST">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="importKMZModalLabel">Import KMZ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
        </button>
        </div>
        <div class="modal-body">
        <div class="isptoolbox-form mx-auto" >
            {% csrf_token %}
            {{ workspace_forms.new_session_from_kmz }}
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary isptoolbox-btn" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary isptoolbox-btn" value="Submit">
        </div>
    </div>
    </div>
</form>
</div>
   