{% load i18n %} {% load static %}

<div
  class="p-5"
  style="
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
  "
>
  <div class="card" style="width: 18rem">
    <a
      href="{% if user.is_authenticated %}{% url 'edit_account_network' %}
            {% else %}{% url 'demo-network-app' %}{% endif %}"
    >
      <img
        class="card-img-top"
        src='{% static "mmwave/card_network.jpg" %}'
        alt="Card image cap"
      />
    </a>
    <div class="card-body justify-content-between d-flex flex-column">
      <p class="card-text">
        {% translate "Evaluate PtP Links and tower coverage using LiDAR Data"%}
      </p>

      <a
        href="{% if user.is_authenticated %}{% url 'edit_account_network' %}
              {% else %}{% url 'demo-network-app' %}{% endif %}"
        class="btn btn-primary isptoolbox-btn"
      >
        {% translate "Launch LOS Check"%}
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <a href="{% url 'market_eval_entry' %}">
      <img
        class="card-img-top"
        src='{% static "mmwave/card_market.jpg" %}'
        alt="Card image cap"
      />
    </a>
    <div class="card-body justify-content-between d-flex flex-column">
      <p class="card-text">
        {% translate "Evaluate new or existing markets and determine which
        technologies are most applicable."%}
      </p>
      <a
        href="{% if user.is_authenticated %}{% url 'market_eval_entry' %}
              {% else %}{% url 'demo-market-app' %}{% endif %}"
        class="btn btn-primary isptoolbox-btn"
      >
        {% translate "Launch Market Evaluator"%}
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <a href="#">
      <img
        class="card-img-top"
        src='{% static "mmwave/loading_image.gif" %}'
        alt="Card image cap"
      />
    </a>
    <div class="card-body justify-content-between d-flex flex-column">
      <p class="card-text">{% lorem 15 w random %}</p>
      <a href="#" class="btn btn-primary isptoolbox-btn">
        {% lorem 2 w random%}
      </a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <a href="#">
      <img
        class="card-img-top"
        src='{% static "mmwave/loading_image.gif" %}'
        alt="Card image cap"
      />
    </a>
    <div class="card-body justify-content-between d-flex flex-column">
      <p class="card-text">{% lorem 15 w random%}</p>
      <a href="#" class="btn btn-primary isptoolbox-btn">
        {% lorem 2 w random%}
      </a>
    </div>
  </div>
</div>
<div class="container pt-3 text-center">
  {% if showSurvey %}
  <div class="alert alert-primary" role="alert">
    <a href="{% url 'optional_info' %}"
      >{% translate "Take a quick survey to help us make ISP Toolbox
      better"%}</a
    >
  </div>
  {% endif %}
  <div class="alert alert-primary" role="alert">
    {% now "Y" as current_year %} {% now "m" as current_month %}
    <a href="{% url 'demo-latest_gis' year=current_year month=current_month %}"
      >{% translate "See the latest GIS data"%}</a
    >
  </div>
</div>
