<div class="map-container-network">
    <div id='map' class='planner-map'></div>
    <div id='map-controls' class="on-map-controls">
        <div>
            {% include "workspace/atoms/components/reconnecting_msg.html" %}
            <div id="geocoder" class="geocoder-container"></div>
            {% block draw_controls %}
            {% endblock %}
        </div>
    </div>
    {% if not ptponly %}
    <div class="on-map-controls" style="right: 0px">
        {% include "mmwave/molecules/draw_controls.html" %}
        <div class="layer-button-container">
          {% include "workspace/atoms/buttons/map_layers_button.html" %}
        </div>
    </div>
    {% endif %}
</div>