{% load i18n %}
<div id="signin_container" class="{% if showSignUp %}d-none{% endif %} container signup_container onboarding_container">
    <h1 class="heading-2">{% blocktranslate %}We'd like to get to know you{% endblocktranslate %}</h1>
    <p class="onboarding_container--intro-copy large">{% blocktranslate %}The following questions will help us understand how our tools can best serve your business.{% endblocktranslate %}</p>
    <form method="post" class="isptoolbox-form survey-form py-3">
        {% csrf_token %}
        {% include 'workspace/molecules/optional_survey_form.html' %}
        <input class="btn isptoolbox-btn btn-primary" type="submit" value="Complete Profile">
    </form>
</div>
