<div id="signin_container" class="{% if showSignUp %}d-none{% endif %} container signup_container onboarding_container">
    <h3>We'd like to get to know you</h3>
    <p class="onboarding_container--intro-copy">Your answers will help us prioritize features that will be most helpful to you and your business</p>
    <form action="{% url 'login_view' %}?next={{ request.get_full_path }}" method="post" class="isptoolbox-form py-3">
        {% csrf_token %}
        <ol>
        {% for field in optional_info_form %}
            <li class="onboarding_container--question">
                {{ field.label_tag }}
                {% if field.css_classes == 'required' %}
                    <span class="onboarding_container--required">(required)</span>
                {% endif %}
                {% if field.help_text %}
                    <p class="onboarding_container--description">{{ field.help_text|safe }}</p>
                {% endif %}
                
                {% if not field.widget_type == 'checkboxselectmultiple' %}
                    {{ field }}
                {% else %}
                    <div class="checklist--items">
                        {{ field }}
                    </div>
                {% endif %}
                <p class="onboarding_container--errors">{{ field.errors }}</p>
            </li>
        {% endfor %}
        </ol>
        <input class="btn isptoolbox-btn btn-primary" type="submit" value="Complete Profile">
    </form>
</div>

<!-- Uncomment if we make the company website optional -->
<!-- <div class="{% if showSignUp %}d-none{% endif %} container signup_container onboarding_container--other-options">
    <a href="{% url 'isptoolbox_pro_home' %}">Skip for now</a>
</div> -->
