{% load i18n %}
<div class="modal theme-modal fade" id="renameSessionModal" tabindex="-1" role="dialog"
  aria-labelledby="renameSessionModalLabel" aria-hidden="true">
  <form action="{% url 'session_create' %}" method="POST" id="workspace_rename_session_form">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="renameSessionModalLabel">{% translate "Rename Session"%}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
        <div class="modal-body">
          <div class="isptoolbox-form inline-field-group mx-auto">
            {% csrf_token %}
            {{ workspace_forms.rename_session }}
            <input type="text" value="{{session.uuid}}" hidden name="session">
            <input type="submit" class="btn btn-primary isptoolbox-btn inline-button" value="Save">
          </div>
          <p class="error d-none"></p>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  $(() => {
    $('#workspace_rename_session_form').on('submit', function (event) {
      event.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: "POST",
        dataType: "json",
        url: "{% url 'session_create' %}?format=json",
        success: function (response) {
          window.location.replace(
            `{% url 'edit_account_network' %}${response.uuid}/${response.name}/`
          );
        },
        error: (response) => {
          $(this).find('.error').removeClass('d-none').html(response.responseJSON.non_field_errors);
        }
      })
    });
  })
</script>