{% load i18n %}
<div class="modal theme-modal fade" id="saveAsModal" tabindex="-1" role="dialog" aria-labelledby="saveAsModalLabel"
  aria-hidden="true">
  <form action="{% url 'workspace:session_saveas' %}" method="POST" id="workspace_session_save_form">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="saveAsModalLabel">{% translate "Make a Copy"%}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            {% include "workspace/atoms/isptoolbox_close_icon.html" %}
          </button>
        </div>
        <div class="modal-body">
          <div class="isptoolbox-form inline-field-group mx-auto align-items-center">
            {% csrf_token %}
            {{ workspace_forms.save_as_session }}
            <input type="text" value="{{session.uuid}}" hidden name="session">
          </div>
          <input type="submit" class="btn btn-primary isptoolbox-btn inline-button modal-btn" value="Save">
          <p class="error d-none"></p>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(() => {
    $('#workspace_session_save_form').on('submit', function (event) {
      event.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: "POST",
        dataType: "json",
        url: "{% url 'workspace:session_saveas' %}?format=json",
        success: function (response) {
          window.location.replace(response.url);
        },
        error: (response) => {
          $(this).find('.error').removeClass('d-none').html(response.responseJSON.error);
        }
      })
    });
  })
</script>