{% load i18n %}
<div class="modal theme-modal fade" id="selDelModal" tabindex="-1" role="dialog" aria-labelledby="selDelModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="selDelModalTitle">
                    {% translate "Are you sure you want to delete the selected items?"%}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    {% include "workspace/atoms/isptoolbox_close_icon.html" %}
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary isptoolbox-btn negative" data-dismiss="modal"
                    id="sel-delete-confirm-btn">{% translate "Yes"%}</button>
                <button type="button" class="btn btn-secondary isptoolbox-btn"
                    data-dismiss="modal">{% translate "No"%}</button>
            </div>
        </div>
    </div>
</div>