{% load socialaccount %}
{% providers_media_js %}

<div id="fb_sign_up_container" class="{% if not showSignUp or showEmailSignUp %}d-none{% endif %}">
    <div class="container signup_container onboarding_container">
        <h1 class="heading-2">Let's get you set up</h1>
        <p class="onboarding_container--intro-copy large">Creating an account will give you the ability to save and reuse files across ISP Toolbox.</p>

        {% include 'workspace/organisms/value_props.html' %}

        <div class="fb-login-button"
            data-onlogin="FB.getLoginStatus((response) => {allauth.facebook.onLoginSuccess(response, {% url 'workspace_dashboard' %}, '')});"
            data-width="" data-size="large"
            data-button-type="continue_with"
            data-layout="rounded"
            data-auto-logout-link="false"
            data-scope="public_profile,email"
            data-use-continue-as="true"
        >
        </div>
        {% include 'workspace/atoms/terms_disclaimer.html' %}
        {% include 'workspace/atoms/content_break.html' %}
        <a href="#" id="signup_email">Sign Up with Email</a>
    </div>
    <div class="container onboarding_container--other-options text-center">
        <p>Already have an account? <a href="#" class="dy_have_account">Sign in</a></p>
    </div>
</div>