<div id="signin_container" class="{% if showSignUp %}d-none{% endif %}">
<div class="container signup_container onboarding_container">
    <h3>Welcome back!</h3>
    <div class="fb-login-button"
        data-onlogin="FB.getLoginStatus((response) => {allauth.facebook.onLoginSuccess(response, {% url 'isptoolbox_pro_home' %}, '')});"
        data-width="" data-size="large"
        data-button-type="continue_with"
        data-layout="rounded"
        data-auto-logout-link="false"
        data-scope="public_profile,email"
        data-use-continue-as="true"
    >
    </div>
    {% include 'workspace/atoms/content_break.html' %}
    <div class="isp-signupform mx-auto">
        <form action="{% url 'login_view'%}" method="post" class="isptoolbox-form py-3">
            {% csrf_token %}
            {% if form %}
                {{ form }}
            {% else %}
                {{ authentication_form }}
            {% endif %}
            <input hidden type="text" value="{% firstof request.GET.next request.full_path %}" name="next">
            <input class="btn isptoolbox-btn btn-primary" type="submit" value="Login">
        </form>
    </div>
</div>
<div class="container text-center">
    <p>Don’t have an account?<a href="#" id="no_act_yet"> Sign Up</a></p>
</div>
</div>