<div id="signin_container" class="{% if showSignUp %}d-none{% endif %} justify-content-center container signup_container pt-3" style="display: flex; flex-direction: column;">
    {% with logo_style='width: 350px;' %}
        {% include "workspace/atoms/isptoolbox_svg.html" %}
    {% endwith %}
    <p> Empowering small, local ISPs - by Facebook</p>
    <h4>Welcome back!</h4>
    <div class="fb-login-button"
        data-onlogin="FB.getLoginStatus((response) => {allauth.facebook.onLoginSuccess(response, {% url 'isptoolbox_pro_home' %}, '')});"
        data-width="" data-size="large"
        data-button-type="continue_with"
        data-layout="rounded"
        data-auto-logout-link="false"
        data-scope="public_profile,email"
        data-use-continue-as="true"
    >
    </div>
    <div>
    <div id="sign_up-form" class="isp-signupform mx-auto">
        <form action="{% url 'login_view'%}" method="post" class="isptoolbox-form py-3">
            {% csrf_token %}
            {% if form %}
                {{ form }}
            {% else %}
                {{ authentication_form }}
            {% endif %}
            <input hidden type="text" value="{% firstof request.GET.next request.full_path %}" name="next">
            <input class="btn isptoolbox-btn btn-primary" type="submit" value="Login">
        </form>
    </div>
    <a id="no-email-sign-in" href="#">
        <p>Don't have an ISP Toolbox account? Sign up</p>
    </a>
</div>