{% extends "workspace/pages/base.html" %}
{% load i18n isp_toolbox_sources %}
{% load static %}

{% block additional_headers %}
    {% include "workspace/molecules/page_header.html" %}
    <link href='{% static "stylesheets/pages/sources-page.css" %}' rel='stylesheet' />
    <script>
        // Highlight footnote section if exists.
        $(document).ready(function($){
            let footnotesMatch = window.location.href.match(/(#footnotes-section-\d+)/);
            if (footnotesMatch !== null) {
                $(footnotesMatch[0]).addClass('footnote-highlight');
            }
        });
    </script>
{% endblock %}

{% block nav %}
{% include 'workspace/organisms/nav.html' with nav_is_app_page=True nav_app_page_skip_back_button=True nav_skip_tour_button=True nav_skip_dropdown_workspace=True page_title="Sources" %}
{% endblock %}

{% block content %}
{% load_sources_from sources_page_info.app_page_template sources as sources %}
<div class="d-flex sources-page">
    <div class="sources-page-sidebar">
        <div class="sources-page-links-wrapper">
            <div class="sources-page-links">
                <ul>
                {% for page, info in sources_pages.items %}
                    <li>
                    <a
                        href="{% if page == sources_page %}#footnotes-section{% else %}
                            {% url 'workspace:sources' sources_page=page %}
                        {% endif %}"
                        {% if page == sources_page %} style="border-bottom: 1px solid white;" {% endif %}
                    >
                        {{ info.link_title }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="sources-page-main">
        <div class="sources-page-content">
            <div>
                {% block sources_page_title %}
                <h1 class="heading-2">
                    {{ title|cut:" - ISP Toolbox" }}
                </h1>
                {% endblock %}
            </div>

            <div class="sources-page-disclaimer">
                <p>
                    {% block sources_page_disclaimer %}
                    {% endblock %}
                </p>
            </div>

            <div>
                {% block sources_page_footer %}
                    {% footnote_section sources id="footnotes-section" ol_classes="footnotes" %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
