<nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-between" id="workspacenavelem">
    {% include 'workspace/molecules/dropdown_workspace.html' %}

    {% block right_nav %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#drawToolsMenu"
        aria-controls="drawToolsMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="drawToolsMenu">
        <div class="mr-auto"></div>
        <div class="d-flex flex-row">
            {% if draw_controls %}
            {% include draw_controls %}
            {% endif %}
        </div>
    </div>
    {% endblock %}
</nav>