{% load static %}
<nav class="workspace-nav navbar navbar-expand-lg navbar-light bg-white pr-3 pl-0 py-0" id="workspacenavelem">
    <div class="d-flex">
        <a href="/pro/" class="back-icon py-auto px-3 mr-2">
            <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.7858 8.5L2.71433 8.5M9.1429 16L2.00005 8.5L9.1429 1" stroke="#2D2D2D" stroke-width="2"/>
            </svg>
        </a>
        <div class="homepage-logo align-items-center d-flex mx-2">
            {% include "workspace/atoms/isptoolbox_logo.html"%}
          <span class='ml-3'>{{ page_title|default:"ISP Toolbox Workspace" }}</span>
        </div>
        {% if not nav_skip_tour_button %}
            <button class="btn my-auto px-0 d-flex" id="tool_help_button">
                {% include "workspace/atoms/icons/question_mark_icon.html" %}
            </button>
        {% endif %}
    </div>
    {% if user.is_authenticated and not nav_skip_dropdown_workspace %}
        {% include 'workspace/molecules/dropdown_workspace.html' %}
    {% endif %}
    
    {% block right_nav %}
        {% if not nav_skip_account_dropdown %}
            {% include "workspace/atoms/account_dropdown.html" %}
        {% endif %}
    {% endblock %}
</nav>
