{% if tool == "market_evaluator" %}
{% include "workspace/organisms/create_market_modal.html"%}
{% else %}
{% include "workspace/organisms/create_network_modal.html"%}
{% endif %}

{% block session_table %}
    {% url 'workspace:session_table' as table_ajax_url %}
    {% with header="Open a Session" table_id="session_data_table" modal_id="session_modal" table_ajax_url=table_ajax_url %}
    {% include "workspace/molecules/data_table.html"%}
    {% endwith %}
{% endblock %}
{% block tower_table %}
    {% url 'workspace:tower_table' as table_ajax_url %}
    {% with header="Tower Locations" table_id="tower_data_table" modal_id="tower_modal" table_ajax_url=table_ajax_url %}
    {% include "workspace/molecules/data_table_tower.html"%}
    {% endwith %}
{% endblock %}
{% block sector_table %}
    {% url 'workspace:sector_table' as table_ajax_url %}
    {% with header="Access Points" table_id="sector_data_table" modal_id="sector_modal" table_ajax_url=table_ajax_url %}
    {% include "workspace/molecules/data_table_sector.html"%}
    {% endwith %}
{% endblock %}

{% include "workspace/organisms/import_kmz_modal.html" %}
{% include "workspace/organisms/rename_session_modal.html" %}
{% include "workspace/organisms/rename_session_modal.html"%}
{% include "workspace/organisms/save_as_modal.html"%}
{% if tool == "market_evaluator" %}
{% include "workspace/organisms/market_eval_export_modal.html"%}
{% else %}
{% endif %}