{% load static %}
<nav class="workspace-nav navbar navbar-expand-lg navbar-light bg-white px-4 py-0" id="workspacenavelem">
    <div class="d-flex">
        <a href="#" data-toggle="collapse" data-target="#drawer_isptoolbox_menu">
            <span class="navbar-toggler-icon my-auto mr-3"
                style="width: 1.5em !important; height: 1.5em !important;"></span>
        </a>
        <div class="homepage-logo align-items-center d-flex mx-1">
            {% include "workspace/atoms/isptoolbox_logo.html"%}
        </div>
    </div>
    {% include 'workspace/molecules/dropdown_workspace.html' %}
    {% block right_nav %}

    {% include "workspace/atoms/account_dropdown.html" %}
    {% endblock %}
</nav>