{% load static %}
<div id="link_chart" style="width:100%; height:300px;"></div>
<div id="loading_spinner" class="d-none container">
    <div class="row">
        <img src="{% static 'loading_image.gif' %}" class="mx-auto" alt="loading spinner"height="200px">
    </div>
    <div class="text-center position-relative">
        <h3>Loading Lidar Point Cloud...</h3>
    </div>
</div>
<div id="loading_failed_spinner" class="d-none container">
    <div class="row">
        <img src="{% static 'loading_failed.gif' %}" class="mx-auto" alt="loading failed" height="200px">
    </div>
    <div class="text-center position-relative">
        <h3>An error occured:</h3>
        <p id="link-request-error-description"></p>
    </div>
</div>
<div id="lidar_not_found_msg" class="d-none row align-items-center">
    <div class="col text-center">
    <p>LiDAR Data not available at this location. <a href="https://usgs.entwine.io/">Click here to see a map of availablity</a> </p>
    </div>
</div>

<script src="{% static 'link_profile.js' %}" > </script>
