<p>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#networktypeselector" aria-expanded="false" aria-controls="networktypeselector">Select Network Type</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#fiberpopselector" aria-expanded="false" aria-controls="fiberpopselector">Add Fiber POP</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#selectservicearea" aria-expanded="false" aria-controls="selectservicearea">Select Service Area</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#generateimportgis" aria-expanded="false" aria-controls="generateimportgis">Generate/Import GIS Data</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#modifygis" aria-expanded="false" aria-controls="modifygis">Modify GIS Data</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#generatenetwork" aria-expanded="false" aria-controls="generatenetwork">Generate Network</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#modifynetwork" aria-expanded="false" aria-controls="modifynetwork">Modify Network</button>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multi-collapse">Toggle All</button>
</p>
