<!-- Modal -->
<div class="modal fade" id="tourModal" tabindex="-1" role="dialog" aria-labelledby="tourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tourModalLabel">mmWave Link Check</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                ISP Toolbox's <i>Link Check</i> tool allows ISPs to reduce the number of site surveys
                needed when establishing mmwave links.
            </p>
            <p>
                For a map of lidar availablility go to: <a href="https://usgs.entwine.io/">https://usgs.entwine.io/</a>
                Note: It maybe several years since the LiDAR data was captured. ISP Toolbox does not guarantee it's accuracy.
            </p>
            <p>
                Leave us feedback at our Facebook page <a href="https://www.facebook.com/fbctoolbox">ISP Toolbox<a>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
