// Use this file to override default browser styles. 
// Anything beyond basic overrides should go into dedicated files ex: atoms/_headings

@import 'theme'

body 
    font-family: 'Basis Grotesque Pro', Helvetica, Arial, sans-serif
  

p, h1, h2, h3, h4, h5, h6, ul
    color: $brand-dark-gray-color

p, a, h1, h2, h3, h4, h5, h6
    letter-spacing: 0.01rem

a
    text-decoration: none
    color: $brand-primary-color
    font-weight: bold
    &:hover
        color: darken($brand-secondary-color, 7%)
        text-decoration: none

::-webkit-input-placeholder
  color: lighten($mid-gray-color, 20%)

:-ms-input-placeholder
  color: lighten($mid-gray-color, 20%)

::-moz-placeholder
  color: lighten($mid-gray-color, 20%)

:-moz-placeholder
  color: lighten($mid-gray-color, 20%)

// bootstrap highlight tooltips
.tooltip
  font-family: $brand-font-family-mono
  font-size: 12px
.tooltip-inner
  background-color: $brand-dark-gray-color
  border-radius: 0
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before
    border-top-color: $brand-dark-gray-color
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before
    border-right-color: $brand-dark-gray-color
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before
    border-bottom-color: $brand-dark-gray-color
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before
    border-left-color: $brand-dark-gray-color