<div>
  <div class="d-flex align-items-baseline">
    <h5 class="mb-0" id="frequency-label">Frequency&nbsp;</h5>
    <div class="dropdown freq-toggle">
      <button class="btn dropdown-toggle" type="button" id="freq-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        5 GHz
      </button>
      <div class="dropdown-menu" aria-labelledby="freq-dropdown">
        <button id="2.4 GHz" class="dropdown-item freq-dropdown-item" type="button">2.4 GHz</button>
        <button id="5 GHz" class="dropdown-item freq-dropdown-item active" type="button">5 GHz</button>
        <button id="60 GHz" class="dropdown-item freq-dropdown-item" type="button">60 GHz</button>
      </div>
    </div>
  </div>
</div>
