<div id="freq-toggle" class="btn-group btn-group-toggle freq-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="2.4ghz" autocomplete="off"> 2.4 GHz
    </label>
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="5ghz" autocomplete="off" checked> 5 GHz
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="60ghz" autocomplete="off"> 60 GHz
    </label>
</div>