<div id="data-container" class="collapse {% if not should_collapse_link_view %}show{% endif %} ">
    <div class="row no-gutters profile-view" id="bottom-row-link-view-container">
        <div class="col-12 col-lg-8 col-xl-8 profile-view-card">
            <div class="card link-profile-card">
                <div class="card-body">
                    <div id='link-title'>
                    <div class="d-flex justify-content-between card-title">
                        {% include "mmwave/molecules/link_status.html" %}
                        {% include "mmwave/molecules/frequency_toggle.html" %}
                    </div>
                    </div>
                    <div class="card-text">
                        {% include "mmwave/link_profile.html" %}
                        {% include "mmwave/atoms/tooltip.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 radio-spec-label-card">
            <h5 class="radio-toggle-label mx-3 py-2">Radio Specs</h5>
        </div>
        <div class="col-lg-2 col-xl-2 radio-0-card">
            {% with radio=tx radio_id='0' radio_name='radio_0' color='#E29842' %}
                {% include "mmwave/radio_view.html" %}
            {% endwith %}
        </div>
        <div class="col-lg-2 col-xl-2 radio-1-card">
            {% with radio=rx radio_id='1' radio_name='radio_1' color='#42B72A' %}
                {% include "mmwave/radio_view.html" %}
            {% endwith %}
        </div>
    </div>
    {% include "mmwave/organisms/access_point_view.html" %}
</div>