<div class="d-flex align-items-baseline link-status">
    <h5 class="link-status--label">Link Status:&nbsp;</h5>
    <h5 id="link-status--status" style="color: green;">Passed &nbsp;</h5>
    <div id="link-status--loading-spinner" class="d-none">
    {% with spinner_style='height: 16px;' blink=True spinner_classes="mx-auto mb-1" %}
        {% include "workspace/atoms/components/loading_spinner.html" %}
    {% endwith %}
    </div>
    <h5 id="link-status--obstructions">(No Obstructions)</h5>
</div>