<div class='d-none webgl2notsupported ol justify-content-center align-self-center' id="webgl-error-msg">
    {% include "mmwave/atoms/error_icon.html" %}
    <h1>Encountered An Error </h1>
    <p>   
      This may happen if your browser or graphics card is not supported.<br>
      iOS and Safari currently do not support WebGL2.
      <br>
      We recommend to use 
      <a href="https://www.google.com/chrome/browser" target="_blank">Chrome</a>
      or 
      <a href="https://www.mozilla.org/" target="_blank">Firefox</a>.
    </p>
  </div> 