{% load mapbox %}
<!DOCTYPE html>
<html lang="en">
  {% include "./header.html" %}
<body>
    {% include "./nav.html" %}
    {% include "./login_modal.html" %}
    <div id='map' class='planner-map'></div>
    <script >
        mapboxgl.accessToken = "{% mapbox_public_key %}";
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11', // stylesheet location
            center: [-121.12273335456848,
          37.481303376709754], // starting position [lng, lat]
            zoom: 17 // starting zoom
        });
        var Draw = new MapboxDraw();

        // Map#addControl takes an optional second argument to set the position of the control.
        // If no position is specified the control defaults to `top-right`. See the docs 
        // for more details: https://docs.mapbox.com/mapbox-gl-js/api/#map#addcontrol

        map.addControl(Draw, 'bottom-right');
    </script>
      {% include "./tool_selector_bar.html" %}
      {% include "./network_type_selector.html" %}
      {% include "./fiber_pop_selector.html" %}
      {% include "./select_service_area.html" %}
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div>

      {% include "./additional_js.html" %}
</body>
</html>