@use '../atoms/button'
@use '../atoms/loading-icon'
@use '../atoms/tooltip'
@use '../molecules/card'
@use '../molecules/_frequency_toggle'
@use '../organisms/profile-view'
@use '../fonts'
@import ../theme

body
    overflow: auto !important
    h5
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 27px
        letter-spacing: 0.01em

    // potree overrides
    .annotation
        .annotation-titlebar
            border-radius: 0px
            .annotation-label
                font-family: "Basis Grotesque Pro", Helvetica, Arial, sans-serif

    .potree_failpage
        text-align: center

.mapboxgl-ctrl-geocoder
    border-radius: 0
    border-top: 2px sol
    
