@use '../atoms/button'
@use '../atoms/loading-icon'
@use '../atoms/tooltip'
@use '../molecules/card'
@use '../molecules/frequency_toggle'
@use '../molecules/error-container'
@use '../organisms/profile-view'
@use '../organisms/radio-view'
@use '../mixins'
@use '../fonts'
@import '../theme'

body
    overflow: auto !important
    h5
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 27px
        letter-spacing: 0.01em

    // potree overrides
    .annotation
        .annotation-titlebar
            border-radius: 0px
            .annotation-label
                font-family: $brand-font-family-sans-serif
    .potree_failpage
        text-align: center

.mapboxgl-ctrl-geocoder
    border-radius: 0
    border-bottom: 2px solid $brand-primary-color
    &--input
        font-family: $brand-font-family-mono
        padding-right: 14px
    &--suggestion-title
        font-weight: bold
        letter-spacing: 0.02em !important
    &--suggestion-title, &--suggestion-address 
        font-family: $brand-font-family-sans-serif
        letter-spacing: 0.01em
        color: $brand-dark-gray-color
    &--suggestion-address
        color: lighten($brand-dark-gray-color, 20%)
    .suggestions
        border-radius: 0

.nodes-loading-message
    display: none
    font-family: $brand-font-family-mono
    margin-right: 5px
    color: $white-color

.lidar-availability-popup 
    .mapboxgl-popup-content 
        background-color: $brand-dark-gray-color
        color: $white-color
        border-radius: 0
        font-family: $brand-font-family-mono
        font-size: 13px
        padding: 0.7rem
        text-align: center
    .mapboxgl-popup-tip 
        border-top-color: $brand-dark-gray-color

@media (min-width: 992px)
    .nodes-loading-message
        display: inline-block
    
