{% load rest_framework %}

<tr>
    <th scope="row">{{ forloop.counter0|add:offset }}</th>
    <td><input name="name" type="text" value="{{ ap.name }}" ap-uuid-target="{{ap.uuid}}" disabled></td>
    <td>
        <input name="max_radius" type="number" disabled ap-uuid-target="{{ap.uuid}}"
        {% if units == "SI" %}
            value="{{ap.max_radius|floatformat:2}}"> km
        {% else %}
            value="{{ap.max_radius_miles|floatformat:2}}"> mi
        {% endif %}</td>
    <td>
        <input name="height" type="number" disabled ap-uuid-target="{{ap.uuid}}"
        {% if units == "SI" %}
            value="{{ap.height|floatformat:1}}"> m
        {% else %}
            value="{{ap.height_ft|floatformat:0}}"> ft
        {% endif %}
    </td>
    <td>{{ap.last_updated|lower}}</td>
    <td class="d-flex">
        <button type="button" class="btn btn-primary isptoolbox-btn d-none ap-save-edit-btn" id="ap-save-edit-{{ap.uuid}}"  data-target="{{ap.uuid}}">
            Save
        </button>
        <button type="button" class="btn btn-secondary ap-edit-btn" data-target="{{ap.uuid}}">
            {% include 'workspace/atoms/pen_icon.html'%}
        </button>
        <button type="button" class="btn btn-secondary ap-delete-btn" data-target="{{ap.uuid}}">
            {% include 'workspace/atoms/trash_icon.html'%}
        </button>
    </td>
</tr>
