{% load rest_framework %}

<tr class="tower-row">
    <td class="align-middle" scope="row">{{ forloop.counter0|add:offset }}</td>
    <td><input name="name" class="name-input" type="text" value="{{ ap.name }}" ap-uuid-target="{{ap.uuid}}" disabled></td>
    <td>
        <div class="input-group metric-input">
            <div class="input-group-prepend">
                <input name="heading" type="number" disabled ap-uuid-target="{{ap.uuid}}" value="{{ap.heading}}">
                <span class="input-group-text">
                    °
                </span>
            </div>
        </div>
    </td>
    <td>
        <div class="input-group metric-input">
            <div class="input-group-prepend">
                <input name="beamwidth-azimuth" type="text" value="{{ ap.azimuth }}" ap-uuid-target="{{ap.uuid}}"
                    disabled>
                <span class="input-group-text">°</span>
            </div>
        </div>
    </td>
    <td>
        <div class="input-group metric-input">
            <div class="input-group-prepend">
                <input name="height" type="text"
                {% if units == "SI" %}
                    value="{{ap.height|floatformat:1}}"
                {% else %}
                    value="{{ap.height_ft|floatformat:0}}"
                {% endif %}
                ap-uuid-target="{{ap.uuid}}" disabled>
                <span class="input-group-text">
                    ft
                </span>
            </div>
        </div>
    </td>
    <td>
        <div class="input-group metric-input">
            <div class="input-group-prepend">
                <input name="distance" type="text" value="{{ ap.radius }}" ap-uuid-target="{{ap.uuid}}" disabled>
                <span class="input-group-text">
                    mi
                </span>
            </div>
            </div>    
    </td>
    <td>
        <div>
            <input hidden value="{{ ap.frequency }}" type="text" class="input-group" name="frequency" ap-uuid-target="{{ap.uuid}}" disabled>
            {% include "workspace/molecules/frequency_toggle.html" %}
        </div>
    </td>
    <td class="align-middle">{{ap.last_updated|lower}}</td>
    <td>
        <div class="btn-group" role="group" aria-label="edit-btn-group">
            <button type="button" class="btn d-none ap-save-edit-btn" title="Save tower" id="ap-save-edit-{{ap.uuid}}"
                data-target="{{ap.uuid}}">
                {% include 'workspace/atoms/icons/save_icon.html'%}
            </button>
            <button type="button" class="btn btn-edit ap-edit-btn" title="Edit tower" data-target="{{ap.uuid}}">
                {% include 'workspace/atoms/pen_icon.html'%}
            </button>
            <button type="button" class="btn btn-edit ap-delete-btn" title="Delete tower" data-target="{{ap.uuid}}">
                {% include 'workspace/atoms/trash_icon.html'%}
            </button>
        </div>
    </td>
</tr>