{% load rest_framework %}

<tr class="tower-row">
    <td class="align-middle" scope="row">{{ forloop.counter0|add:offset }}</td>
    <td><input name="name" type="text" value="{{ ap.name }}" ap-uuid-target="{{ap.uuid}}" disabled></td>
    <td>
        <div class="input-group metric-input">
            <div class="input-group-prepend">
            <input name="max_radius" type="number" disabled ap-uuid-target="{{ap.uuid}}"
            {% if units == "SI" %}
                value="{{ap.max_radius|floatformat:2}}"
            {% else %}
                value="{{ap.radius_miles|floatformat:2}}"
            {% endif %}
            >
            <span class="input-group-text">{% if units == "SI" %}
            km
            {% else %}
            mi
            {% endif %}
            </span>
            </div>
        </div>
    </td>
    <td>
        <div class="input-group metric-input">
            <div class="input-group-prepend">
            <input name="height" type="number" disabled ap-uuid-target="{{ap.uuid}}"
            {% if units == "SI" %}
                value="{{ap.height|floatformat:1}}"
            {% else %}
                value="{{ap.height_ft|floatformat:0}}"
            {% endif %}
            >
            <span class="input-group-text">
                {% if units == "SI" %}
                    m
                {% else %}
                    ft
                {% endif %}
            </span>
            </div>
        </div>
    </td>
    <td><input name="latitude" type="text" value="{{ ap.lat }}" ap-uuid-target="{{ap.uuid}}" disabled></td>
    <td><input name="longitude" type="text" value="{{ ap.lng }}" ap-uuid-target="{{ap.uuid}}" disabled></td>

    <td class="align-middle">{{ap.last_updated|lower}}</td>

    <td>
        <div class="btn-group" role="group" aria-label="edit-btn-group">
        <button type="button" class="btn btn-edit ap-sector-btn" title="View Access Points" data-target="{{ap.uuid}}">
            {% include 'workspace/atoms/tower_icon.html'%}
        </button>

        <button type="button" class="btn d-none ap-save-edit-btn" title="Save tower" id="ap-save-edit-{{ap.uuid}}"  data-target="{{ap.uuid}}">
            {% include 'workspace/atoms/icons/save_icon.html'%}
        </button>
        <button type="button" class="btn btn-edit ap-edit-btn" title="Edit tower" data-target="{{ap.uuid}}">
            {% include 'workspace/atoms/pen_icon.html'%}
        </button>
        <button type="button" class="btn btn-edit ap-delete-btn" title="Delete tower" data-target="{{ap.uuid}}">
            {% include 'workspace/atoms/trash_icon.html'%}
        </button>

        </div>
    </td>
</tr>
