{% load i18n %}
<div style="position: fixed; z-index: 1080; {% if tool == "los_check" %} margin-top: 1em; {% endif %}">
  <div class="alert alert-warning text-center d-none" role="alert" id="connection_issues_alert">
    {% include "workspace/atoms/icons/alert_icon_error.html" %} <strong class="ml-3">{% translate "Problem Connecting:" %}</strong> {% translate " Check your internet connection and try again." %}
  </div>
  <div class="alert alert-danger text-center d-none" role="alert" id="ajax-failed_alert">
    {% include "workspace/atoms/icons/alert_icon_warning.html" %} <strong class="ml-3">{% translate "Unexpected Error:" %}</strong> {% translate "Try refreshing the page." %}
  </div>
  <div class="alert alert-danger text-center d-none" role="alert" id="market-eval-query-error">
    {% include "workspace/atoms/icons/alert_icon_warning.html" %} <strong class="ml-3">{% translate "Unexpected Error: " %}</strong> {% translate "Error with market sizing query. Try again." %}
  </div>
</div>