{% load isp_toolbox_sources %}

<div class="market_overlay--row">
	<p class="market_overlay--label">
		{% include "workspace/atoms/icons/swatch.html" with swatchType=swatchType %}
		<span>
			{{ layerName }}
			{% citation sources id=layerName href=sources_page_url footnote_id=footnote_id %}
				{{ citation }} {% source_link "US" sourceId %} {% source_last_updated "US" sourceId %}
			{% endcitation %}
		</span>
	</p>
	<div class="market_overlay--controls">
		{% include "workspace/atoms/toggle_switch.html" with id=layerId %}

		{% with tooltipDesc as tooltip %}
			{% include 'workspace/atoms/info_tooltip_and_marker.html' %}
		{% endwith %}
	</div>
</div>