{% load i18n %}
<div align="center">
    <svg
    class="loader-logo" 
    width="25"
    height="25"
    viewBox="0 0 157 120"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <rect
        width="23.9455"
        height="119.727"
        transform="matrix(-1 0 0 1 90.5199 0)"
        fill="#A8B0B7"
    />
    <path
        class="WispLoadingIcon_animatingRectangle"
        d="M0.124794 0H46.7554V35.288L0.124794 0Z"
        fill="#A8B0B7"
    />
    <path
        class="WispLoadingIcon_animatingRectangle"
        d="M156.97 0H110.339V35.288L156.97 0Z"
        fill="#A8B0B7"
    />
    </svg>
    <p align="center bold">{% translate "Starting Computation"%}</p>
    <p align="center">{% translate "This may take several minutes" %}</p>
</div>