<svg
    width="20"
    height="20"
    view-box="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M15.8333 17.5H4.16663"
      stroke="#5692D1"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M14.1667 6.66667L10 2.5L5.83337 6.66667"
      stroke="#5692D1"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10 2.5V12.5"
      stroke="#5692D1"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>