{% load rest_framework i18n %}

<div class="tr">
    <div class="td-column workspace-name">
        <a class="session-name-link" data-target="{{session.uuid}}"
            href="#">
            {{ session.name }}
        </a>
        <div class="d-none update-form-name" data-target="{{session.uuid}}">
            <div class="d-flex flex-column isptoolbox-form">
                <input class="session-name-input" type="text" name="name" value="{{session.name}}"
                    data-target="{{session.uuid}}" placeholder="{{ session.name }}">
                <p class="helptext">{% translate "Limit 63 characters, must be unique"%}</p>
            </div>
        </div>
    </div>
    <p class="td-column tower-count desktop-only">{{session.number_of_towers}}</p>
    <p class="td-column last-edit"><span class="mobile-only">Last Edited:&nbsp;</span>{{session.last_updated}}</p>
    <p class="td-column d-flex flex-row">
        <button type="button" class="btn session-edit-btn btn-edit ap-edit-btn" data-target="{{session.uuid}}">
            {% include 'workspace/atoms/pen_icon.html'%}
        </button>
        <button class="btn session-save-btn ap-save-edit-btn d-none" data-target="{{session.uuid}}">
            {% include 'workspace/atoms/icons/save_icon.html'%}
        </button>
        <button type="button" class="btn btn-edit ap-delete-btn"
            title="Delete session"
            data-target="{{session.uuid}}"
            data-target-name="{{session.name}}"
        >
            {% include 'workspace/atoms/trash_icon.html'%}
        </button>
    </p>
</div>