{% load rest_framework i18n %}
{% load rest_framework i18n %}
{% if results %}
{% with ordering=results.serializer.context.ordering units=request.GET.units %}
<div class="modal-body isptoolbox-form">
  <div style="display: block; overflow-x: auto">
  <table class="table table-sm table-hover table-modal">
    <thead class="thead-modal">
      <tr>
        <th scope="col" class="pl-2">#</th>
        <th scope="col"><div class="d-flex">{% translate 'Name' %}
          {% if ordering == "name"%}
          <a name="" class="sort-ap my-auto" ordering-target="-name">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% elif ordering == "-name"  %}
          <a name="" class="sort-ap my-auto" ordering-target="name">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True%}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap my-auto" ordering-target="name">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True light=True%}
            </button>
          </a>
          {% endif %}
        </div></th>

        <th scope="col"><div class="d-flex">{% translate "Radius"%}
          {% if ordering == "max_radius"%}
          <a class="sort-ap my-auto" ordering-target="-max_radius">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% elif ordering == "-max_radius" %}
          <a class="sort-ap my-auto" ordering-target="max_radius">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html'  with flip=True %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap my-auto" ordering-target="max_radius">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True light=True%}
            </button>
          </a>
          {% endif %}
        </div></th>
        <th scope="col"><div class="d-flex">{% translate "Height"%}
          {% if ordering == "height"%}
          <a class="sort-ap my-auto" ordering-target="-height">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% elif ordering == '-height' %}
          <a class="sort-ap my-auto" ordering-target="height">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap my-auto" ordering-target="height">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True light=True%}
            </button>
          </a>
          {% endif %}
        </div></th>
   
        <th scope="col">
          <div class="d-flex">{% translate 'Latitude' %}
        </div></th>
        <th scope="col">
          <div class="d-flex">{% translate 'Longitude' %}
        </div></th>

        <th scope="col"><div class="d-flex">{% translate "Last Modified"%}
          {% if ordering == "last_updated"%}
          <a class="sort-ap my-auto" ordering-target="-last_updated">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% elif ordering == "-last_updated" %}
          <a class="sort-ap my-auto" ordering-target="last_updated" class="last-updated">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap my-auto" ordering-target="last_updated">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True light=True%}
            </button>
          </a>
          {% endif %}
        </div></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for ap in results %}
      {% include 'workspace/atoms/access_point_row.html' %}
      {% endfor %}
    </tbody>
  </table>
  </div>
  <input hidden id="ap-modal-ordering" value="{{ordering}}">
  <input hidden id="ap-modal-page-num" value="{{current}}">
</div>
{% include 'workspace/atoms/pagination_page_nav.html' with pagination_class_css="ap-modal-page-change" %}
{% endwith %}
{% else %}
<div class="modal-body">
  <div class="text-center">
    {% include 'workspace/atoms/missing_icon.html' %}
    <h3>{% translate "No access points"%}</h3>
    <p>{% translate "To get started: place an access point on the map or select bulk import."%}</p>
  </div>
</div>
{% endif %}
