{% spaceless %}
{% load rest_framework i18n %}
{% if results %}
{% with ordering=results.serializer.context.ordering units=request.GET.units %}
<div class="modal-body isptoolbox-form">
  <table class="table table-sm table-hover table-modal" style="overflow-x: scroll">
    <thead class="thead-modal">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{% translate 'Name' %}
          {% if ordering == "name"%}
          <a name="" class="sort-ap" ordering-target="-name">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap" ordering-target="name">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True%}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col">{% translate "Heading"%}
          {% if ordering == "heading"%}
          <a class="sort-ap" ordering-target="-heading">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a class="sort-ap" ordering-target="heading">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html'  with flip=True %}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col">{% translate "Beamwidth Azimuth"%}
          {% if ordering == "azimuth"%}
          <a class="sort-ap" ordering-target="-azimuth">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a class="sort-ap" ordering-target="azimuth">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True %}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col">{% translate 'Height' %}
          {% if ordering == "height"%}
          <a name="" class="sort-ap" ordering-target="-height">
            <button class="btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap" ordering-target="height">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True%}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col">{% translate 'Radius' %}
          {% if ordering == "radius"%}
          <a name="" class="sort-ap" ordering-target="-radius">
            <button class="btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap" ordering-target="radius">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True%}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col">{% translate 'Frequency' %}
          {% if ordering == "frequency"%}
          <a name="" class="sort-ap" ordering-target="-frequency">
            <button class="btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a name="" class="sort-ap" ordering-target="frequency">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True%}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col" style="width: 160px;">{%translate "Last Modified"%}
          {% if ordering == "last_updated"%}
          <a class="sort-ap" ordering-target="-last_updated">
            <button class="btn">
              {% include 'workspace/atoms/arrow_icon.html' %}
            </button>
          </a>
          {% else %}
          <a class="sort-ap" ordering-target="last_updated" class="last-updated">
            <button class="sort-btn">
              {% include 'workspace/atoms/arrow_icon.html' with flip=True %}
            </button>
          </a>
          {% endif %}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for ap in results %}
      {% include 'workspace/atoms/access_point_sector_row.html' %}
      {% endfor %}
    </tbody>
  </table>
  <input hidden id="ap-sector-modal-ordering" value="{{ordering}}">
  <input hidden id="ap-sector-uuid" value="{{request.GET.ap}}">
  <input hidden id="ap-modal-page-num" value="{{current}}">
</div>
{% include 'workspace/atoms/pagination_page_nav.html' with pagination_class_css="ap-sector-page-change" %}
{% endwith %}
{%else %}
<div class="modal-body">
  <div class="text-center">
    {% include 'workspace/atoms/missing_icon.html' %}
    <h3>{% translate "No access point sectors on this tower yet."%}</h3>
    <p>{% translate "To get started: place an access point sector via the tower tooltip."%}</p>
  </div>
</div>
{% endif %}
{% endspaceless %}