{% load static %}
<!-- Data Tables -->
 <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
 <style>
 table.dataTable thead .sorting
 {
     background-image: url({% static "isptoolbox/images/sort_both.png"%});
     background-repeat: no-repeat;
     background-position: center right;
     background-size: 10px;
     padding-right: 2rem;
 }
 
 table.dataTable thead .sorting_asc
 {
     background-image: url({% static "isptoolbox/images/sort_asc.png"%});
     background-repeat: no-repeat;
     background-position: center right;
     background-size: 10px;
     padding-right: 2rem;
 }
 
 table.dataTable thead .sorting_desc
 {
     background-image: url({% static "isptoolbox/images/sort_desc.png"%});
     background-repeat: no-repeat;
     background-position: center right;
     background-size: 10px;
     padding-right: 2rem;
  }
 </style>
 <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
 <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>