{% extends "workspace/molecules/data_table.html" %}

{% block init_table %}
AjaxDatatableViewUtils.initialize_table(
    $('#{{table_id}}'),
    "{{ table_ajax_url }}", {
        // extra_options (example)
        processing: false,
        autoWidth: false,
        scrollX: false,
        bLengthChange: false,
        pagingType: "simple",
        drawCallback: ()=>{
            htmx.process('#{{table_id}}');
            $('.btn-tooltip').tooltip('hide');
            $('.btn-tooltip').tooltip({
                delay: { show: 500, hide: 100 },
                placement: 'top',
                trigger : 'hover'
            });
        }
    }, {
        map_session: "{{session.pk}}"
    },
);
{% endblock %}