{% load i18n %}
<footer id="disclaimer" class="fixed-bottom d-flex flex-column-reverse
 flex-md-row py-2 justify-content-between" style="background: #2D2D2D;">
    <div class="d-flex flex-row">
        <div class="my-auto mx-3">
            {% include "workspace/atoms/icons/alert_icon_warning.html" %}
        </div>
        <p class="my-auto mr-3" style="font-size: 0.83rem; letter-spacing: 0.2px; line-height: 1.2rem; color: #c2c2c2;">
            {% translate disclaimer %}
        </p>
    </div>
    <div class="my-1 my-auto-md mr-lg-2 mx-md-1 d-flex flex-row justify-content-around justify-content-normal-md">
        <a style="color: #c2c2c2; font-size: 0.83rem; letter-spacing: 0.2px;
        " class="mx-1 my-auto" id="disclaimer-link" href="#Disclaimer">{% trans "Disclaimer"%}</a>
        {% if tool == 'market_evaluator' %}
        <a style="color: #c2c2c2; font-size: 0.83rem; letter-spacing: 0.2px;" class="mx-1 my-auto"
            href="{% url 'workspace:sources' sources_page='market_eval' %}" target="_blank">{% trans "Sources"%}</a>
        {% endif %}
        {% if tool == 'los_check' %}
        <a style="color: #c2c2c2; font-size: 0.83rem; letter-spacing: 0.2px;" class="mx-1 my-auto"
            href="{% url 'workspace:sources' sources_page='edit_network' %}" target="_blank">{% trans "Sources"%}</a>
        {% endif %}
        <a style="color: #c2c2c2; font-size: 0.83rem; letter-spacing: 0.2px;
        " class="mx-1 my-auto" href="{% url 'workspace:terms' %}" target="_blank">{% trans "Terms"%}</a>
        <a style="color: #c2c2c2; font-size: 0.83rem; letter-spacing: 0.2px;
        " class="mx-1 my-auto" href="{% url 'workspace:data_policy' %}" target="_blank">{% trans "Privacy"%}</a>
        <a style="color: #c2c2c2; font-size: 0.83rem; letter-spacing: 0.2px;
        " class="arrow-link d-flex flex-row mx-1 my-auto" href='https://www.facebook.com/fbctoolbox' target="_blank">
            {% trans "Contact"%}
        </a>
    </div>
</footer>