{% load i18n %}
<footer class="d-flex flex-column-reverse
 flex-md-row py-2 justify-content-between" style="background: #2D2D2D;">
    <div class="d-flex flex-row">
        <div class="my-auto mx-3">
            <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.76795 1C7.53775 -0.333332 9.46225 -0.333333 10.2321 1L15.8612 10.75C16.631 12.0833 15.6688 13.75 14.1292 13.75L2.87084 13.75C1.33123 13.75 0.368984 12.0833 1.13878 10.75L6.76795 1Z" fill="#EAD940"/>
            </svg>
        </div>
        <p class="my-auto" style="font-size: 0.75em; line-height: 1em; color: white;">{% translate disclaimer %}</p>
    </div>
    <div class="my-1 my-auto-md mx-1 d-flex flex-row justify-content-around justify-content-normal-md">
        <a style="color: white; font-size: 0.75em;
        " class="mx-1 my-auto" id="disclaimer-link" href="#Disclaimer" >{% trans "Disclaimer"%}</a>
        <a style="color: white; font-size: 0.75em;
        " class="mx-1 my-auto" href="{% url 'workspace:sources' sources_page='market_eval' %}" >{% trans "Sources"%}</a>
        <a style="color: white; font-size: 0.75em;
        " class="mx-1 my-auto" href="{% url 'workspace:terms' %}" target="_blank">{% trans "Terms"%}</a>
        <a style="color: white; font-size: 0.75em;
        " class="mx-1 my-auto" href="{% url 'workspace:data_policy' %}" target="_blank">{% trans "Privacy"%}</a>
        <a style="color: white; font-size: 0.75em;
        " class="arrow-link d-flex flex-row mx-1 my-auto" href='https://www.facebook.com/fbctoolbox' target="_blank">
            {% trans "Contact"%} 
            <svg
                class="arrow-link--icon"
                width="17"
                height="17"
                fill="white"
                stroke="white"
                xmlns="http://www.w3.org/2000/svg">
                <path
                d="M4.294 14.763l9.155-9.155m-6.117-.47l6.43.156.158 6.432"
                strokeWidth="1.5px"
                />
            </svg>
        </a>
    </div>
</footer>