{% load static %}
{% load i18n %}
<div class="d-flex flex-row">
    <a href="{% url 'isptoolbox_pro_home' %}" class="my-auto mr-3">
        <img src="{% static 'isptoolbox_favicon--light.png' %}" style="height: 25px; width: 25px;">
    </a>
    {% if beta %}
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle workspace-nav-dropdown-toggle d-flex flex-row" href="#" id="navbarDropdown"
            role="button" {% if beta and not request.user.is_authenticated %} data-toggle="modal"
            data-target="#redirect_workspace_modal" {% else %} data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" {% endif %}>
            <span class="navbar-toggler-icon my-auto mr-3"
                style="width: 1em !important; height: 1em !important;"></span>
            <h5 class="my-auto mr-1" id="session_name_workspace">
                {% translate 'Editing: '%}{% firstof session.name 'untitled session' %}</h5>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal"
                data-target="#createNetworkModal">{% translate "New Session"%}</a>
            <div class=""></div>
            <div class="divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal"
                data-target="#paginationNetworkModal">{%translate "Open Session"%}</a>
            <a class="dropdown-item" href="#" data-toggle="modal"
                data-target="#importKMZModal">{% translate "Import as Session"%}</a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal"
                data-target="#renameSessionModal">{% translate "Rename Session"%}</a>
            <a class="dropdown-item" href="#" data-toggle="modal"
                data-target="#saveAsModal">{% translate "Save Session as"%}</a>
            <a class="dropdown-item" href="#" data-toggle="modal"
                data-target="#exportKMZModal">{% translate "Export"%}</a>
        </div>
    </div>
    {% endif %}
</div>