{% load static %}
{% load i18n %}
<div class="d-flex flex-row justify-content-center file-dropdown-section">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle workspace-nav-dropdown-toggle d-flex flex-row align-items-center" href="#"
            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h5 class="my-auto mr-1" id="session_name_workspace">
                {% translate 'Editing: '%}{% firstof session.name 'untitled session' %}
            </h5>
            <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-1">
                <path
                    d="M2.70711 9.29289L2 8.58579L0.585786 10L1.29289 10.7071L2.70711 9.29289ZM5 13L4.29289 13.7071L5 14.4142L5.70711 13.7071L5 13ZM8.70711 10.7071L9.41421 10L8 8.58579L7.29289 9.29289L8.70711 10.7071ZM1.29289 10.7071L4.29289 13.7071L5.70711 12.2929L2.70711 9.29289L1.29289 10.7071ZM5.70711 13.7071L8.70711 10.7071L7.29289 9.29289L4.29289 12.2929L5.70711 13.7071Z"
                    fill="#818181" />
                <path
                    d="M7.29289 5.70711L8 6.41421L9.41421 5L8.70711 4.29289L7.29289 5.70711ZM5 2L5.70711 1.29289L5 0.585786L4.29289 1.29289L5 2ZM1.29289 4.29289L0.585787 5L2 6.41421L2.70711 5.70711L1.29289 4.29289ZM8.70711 4.29289L5.70711 1.29289L4.29289 2.70711L7.29289 5.70711L8.70711 4.29289ZM4.29289 1.29289L1.29289 4.29289L2.70711 5.70711L5.70711 2.70711L4.29289 1.29289Z"
                    fill="#818181" />
            </svg>
        </a>
        <ul class="dropdown-menu file-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" href="#" data-toggle="modal" tabindex="-1"
                    data-target="#createNetworkModal">{% translate "New Session"%}</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-toggle="modal" tabindex="-1"
                    data-target="#saveAsModal">{% translate "Make a Copy"%}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="dropdown-item" href="#" data-toggle="modal" tabindex="-1"
                    data-target="#paginationNetworkModal">{%translate "Open Session"%}</a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-toggle="modal" tabindex="-1"
                    data-target="#accessPointModal">{%translate "Manage Towers"%}</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" tabindex="-1"
                    href="#">{%translate "Import"%}</a>
                <ul class="dropdown-menu import-menu">
                    <li>
                        <a class="dropdown-item" href="#" data-toggle="modal"
                            data-target="#importKMZModal">{% translate "Import File"%}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" data-toggle="modal"
                            data-target="#bulkUploadAccessPoint">{% translate "Import Towers"%}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-toggle="modal" tabindex="-1"
                    {% if tool == "market_evaluator" %}data-target="#exportMEModal" {% else %} data-target="#exportKMZModal"
                    {% endif %}>{% translate "Export"%}</a>
            </li>
        </ul>
    </div>
    <span class='subtitle'>All Changes Saved</span>
</div>