<select name="{{ dropdown_freq_name }}" id="{{ dropdown_freq_id}}">
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=2.437 dropdown_freq_label=2.4%}
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=3.6 dropdown_freq_label=3.65%}
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=5.4925 dropdown_freq_label=5%}
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=11.2 dropdown_freq_label=11%}
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=18.7 dropdown_freq_label=18%}
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=24.35 dropdown_freq_label=24%}
    {% include "workspace/atoms/components/frequency_dropdown_option.html" with dropdown_freq_value=64.79 dropdown_freq_label=60%}
</select>