{% load isp_toolbox_units %}
{% frequency_list as frequencies %}

<div class="dropdown freq-toggle" style="position: static !important;">
    <button {% if not enabled %}disabled{% endif %} ap-uuid-target="{{ap.uuid}}" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ ap.frequency|to_frequency_label }}</button>
    <div class="dropdown-menu" aria-labelledby="freq-dropdown">
      {% for label, value in frequencies.items %}
        <button ap-uuid-target="{{ap.uuid}}" value="{{value}}" class="dropdown-item freq-dropdown-item freq-option" type="button">{{label}}</button>
      {% endfor %}
    </div>
</div>