<div class="col-12 col-md-3 col-lg-2 market_overlay--column px-4 py-3 order-3 order-md-2 collapse" id="map-layer-sidebar">
    <div class="market_overlay--section-header"><h5>Federal Grants</h5></div>
    <div class="market_overlay--section">
        {% with tooltips.rdof as tooltipDesc %}
            {% include "workspace/atoms/map_layers_row.html" with layerName="FCC Rural Digital Opportunity Fund" swatchType="swatch_rdof" layerId="rdof" %}
        {% endwith %}
    </div>

    <div class="market_overlay--section-header mt-4"><h5>Additional Layers</h5></div>
    <div class="market_overlay--section">
        {% with tooltips.census_blocks as tooltipDesc %}
            {% include "workspace/atoms/map_layers_row.html" with layerName="Census Blocks" swatchType="swatch_census_blocks" layerId="censusBlocks" %}
        {% endwith %}

        {% with tooltips.non_urban as tooltipDesc %}
            {% include "workspace/atoms/map_layers_row.html" with layerName="Non-urban < 10/1 Mbps" swatchType="swatch_non_urban" layerId="communityConnect" %}
        {% endwith %}

        {% with tooltips.cbrs as tooltipDesc %}
            {% include "workspace/atoms/map_layers_row.html" with layerName="CBRS PAL Holders" swatchType="swatch_cbrs" layerId="cbrs" %}
        {% endwith %}

        {% with tooltips.tribal as tooltipDesc %}
            {% include "workspace/atoms/map_layers_row.html" with layerName="Tribal Lands" swatchType="swatch_tribal" layerId="tribal" %}
        {% endwith %}
    </div>
</div>