<tr>
    <th scope="row">{{ forloop.counter0|add:networks.start_index}}</th>
    <td><a href="{% url 'edit_network' network_id=network.uuid %}">{{ network.name }}</a></td>
    <td>{{network.num_links}}</td>
    <td>{{network.created_date}}</td>
    <td>{{network.last_edited}}</td>
    <td>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteNetworkModal"
            onclick="
            $('#isptoolbox_network_delete_modal_form').attr('action', '{% url 'delete_network' network_id=network.uuid %}');
            $('#isptoolbox_network_delete_name').text('{{ network.name}}');
            ">
            {% include 'workspace/atoms/trash_icon.html'%}
        </button>
    </td>
    <td>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteNetworkModal"
        onclick="
        $('#isptoolbox_network_delete_modal_form').attr('action', '{% url 'delete_network' network_id=network.uuid %}');
        $('#isptoolbox_network_delete_name').text('{{ network.name}}');
        ">
        {% include 'workspace/atoms/share_icon.html'%}
        </button>
    </td>
</tr>