<div class="p-4 hamburger-pullout--footer" style="position:relative; bottom: 0px">
    <div class="d-flex flex-column">
        <a href="https://connectivity.fb.com/" target="_blank" aria-label="Facebook Connectivity Link"
            style="margin-right: 6px;">Facebook
            Connectivity
            <svg width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.294 14.763l9.155-9.155m-6.117-.47l6.43.156.158 6.432" stroke="#919191" stroke-width="1.5px">
                </path>
            </svg>
        </a>
        <a href="https://www.facebook.com/fbctoolbox" aria-label="Contact Link" target="_blank"
            style="margin-right: 6px;">
            Contact
            <svg width="19" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.294 14.763l9.155-9.155m-6.117-.47l6.43.156.158 6.432" stroke="#919191" stroke-width="1.5px">
                </path>
            </svg>
        </a>
    </div>
    <div style="border-bottom: 2px solid #5692d1;
            margin-bottom: 20px;
            padding-top: 20px;">
    </div>
    <div>
        <div class="d-flex flex-row mb-2">
            <a href="{% url "terms"%}" aria-label="Terms Link" target="_blank">Terms
            </a>
            <h5 class="mx-2">
                •
            </h5>
            <a href="{% url "cookies"%}" aria-label="Cookies Link" target="_blank">Cookies
            </a>
            <h5 class="mx-2">
                •
            </h5>
            <a href="{% url "data_policy"%}" aria-label="Privacy Link" target="_blank">Privacy
            </a>
        </div>
        <div>
            <p>Facebook Connectivity © {% now "Y" %}</p>
        </div>
    </div>
</div>