{% load rest_framework i18n %}

{% if results %}
{% with ordering=results.serializer.context.ordering units=request.GET.units %}

<div class="modal-body">
  {% ordering %}
  <div class="theme-table open-workspace">
    <div class="thead">
      <div class="tr">
        <p class="th-column workspace-name">{% translate "Session Name"%}
          {% if ordering == "name"%}
          <a name="" class="sort-ap" ordering-target="-name">
            <button class="btn">{% include 'workspace/atoms/arrow_icon.html' %}</button>
          </a>
          {% else %}
          <a name="" class="sort-ap" ordering-target="name">
            <button class="btn">{% include 'workspace/atoms/arrow_icon.html' with flip=True %}</button>
          </a>
          {% endif %}
        </p>

        <p class="th-column tower-count desktop-only">Towers
          {% comment %}
            can't sort by tower-count - doesn't map to SQL
          {% endcomment %}
        </p>

        <p class="th-column last-edit desktop-only">Last Edited
          {% if ordering == "last_updated"%}
          <a class="sort-ap" ordering-target="-last_updated">
            <button class="btn">{% include 'workspace/atoms/arrow_icon.html' %}</button>
          </a>
          {% else %}
          <a class="sort-ap" ordering-target="last_updated">
            <button class="btn">{% include 'workspace/atoms/arrow_icon.html' with flip=True %}</button>
          </a>
          {% endif %}
        </p>

        <div class="th-column actions desktop-only">
        </div>
      </div>
    </div>
    <div class="tbody">
      {% for session in results %}
      {% include 'workspace/atoms/workspace_session_row.html' %}
      {% endfor %}
    </div>
  </div>

  <input class="d-none" id="session-modal-ordering" value="{{ordering}}">
  <input class="d-none" id="session-modal-page-num" value="{{current}}">
</div>


{% with "session-modal-page-change" as pagination_class_css %}
{% include 'workspace/atoms/pagination_page_nav.html' %}
{% endwith %}

{% endwith %}
{% else %}
<div class="modal-body">
  <div class="text-center empty-placeholder">
    {% include 'workspace/atoms/missing_icon.html' %}
    <h5>No Saved Sessions</h5>
  </div>
</div>
{% endif %}