@import ../theme

sup
    .footnote--bracket
        color: lighten($mid-gray-color, 10%)
        font-weight: normal

    .footnote--link
        text-decoration: none
        color: inherit
        font-weight: normal

.mapboxgl-popup.map-tooltip
    a.footnote--link
        text-decoration: none
        color: #ffffff
        font-weight: normal

    a.footnote--link:hover
        text-decoration: none
        color: inherit

    sup
        .footnote--bracket
            color: darken(#ffffff, 10%)
            font-weight: normal
