@import ../theme

sup
    .footnote--bracket
        color: lighten($mid-gray-color, 10%)
        font-weight: normal

    .footnote--link
        text-decoration: none
        color: inherit
        font-weight: normal
