@import ../theme

body
    .layer-swatch
        height: 15px
        margin: 0 12px 0 0
        min-width: 6px
        width: 6px
        display: inline-block
        border: solid 1px darken($light-gray-color, 9%)
        box-sizing: content-box

    .swatch_rdof 
        background: #9540ea

    .swatch_non_urban 
        background: #ea625a

    .swatch_cbrs
        background: #91ed65

    .swatch_census_blocks
        background: #f0f2f5
    
    .swatch_tribal
        background: #ff4d00