@import ../theme

.market_stats_column
    background-color: $brand-theme-color

.market-eval-section
    background-color: $white-color
    border-bottom: 2px solid $brand-primary-color

.market-eval-divider
    border-bottom: 1px solid $alex-special-gray
    width: 100%

.metric-tooltip
    display: flex
    flex-direction: row