@import ../theme
.profile-view
    background-color: $brand-theme-color !important
    display: flex
    flex-flow: column
    .card 
        background-color: $brand-theme-color !important
        border: none
        border-radius: 0
        height: 100%
    .card-title
        border-bottom: 2px solid $brand-primary-color
        padding-bottom: 5px
    .input-label
        font-size: 14px
        color: $brand-dark-gray-color
        letter-spacing: .04em
    input
        border-radius: 0 !important
        color: $brand-dark-gray-color
        font-family: $brand-font-family-mono
        font-size: 14px
        border: none
        padding: .375rem 0
        text-align: right
    .input-with-unit
        align-items: baseline
        background-color: $white-color
        border-bottom: 2px solid $brand-primary-color
        text-align: right
        height: fit-content
        min-width: 130px
    .input-unit
        color: $brand-dark-gray-color
        font-family: $brand-font-family-mono
        padding: .375rem 0 0.375rem 0.15rem
        font-size: 14px
.link-profile-card
    .card-title
        border-bottom: solid 2px $brand-primary-color
        margin-bottom: .75rem
    #link-status--obstructions, #frequency-label
        font-size: 14px
    .link-status
        flex-flow: row wrap
        h5
            margin-bottom: 0
    #link_chart
        width:100%
        height:300px
body
    @media screen and (max-width: 991px)
        .fixed-bottom
            top: -16px
            position: relative
    @media screen and (min-width: 992px)
        .profile-view
            flex-flow: row
        .link-profile-card
            .card-body
                padding-bottom: 0.5rem
            .card-title
                border-bottom: 0
                margin-bottom: 0
            #link-status--obstructions, #frequency-label
                font-size: 16px
        @media screen and (max-height: 800px)
            .link-profile-card #link_chart
                height:250px