@import ../theme

@media (min-width: $breakpoint-tablet)
    .account_setting_form_container
        grid-template-columns: 1fr 1fr

.account_setting_form_container
    display: grid
        grid-template-columns: 1fr