@import ../theme


    .id_business_type
        list-style-type: none !important
    

@media (min-width: $breakpoint-md)
    .account_setting_form_container
        grid-template-columns: 1fr 1fr

    .account_setting_form_container
        grid-template-columns: 1fr

    .account_settings
        display: block
        padding: 10px
    