@use '../fonts'
@import ../theme
    
.homepage-logo
    align-items: center
    display: flex
    margin: auto

    .wordmark
        align-items: center
        display: flex
        p
            color: #677b8c
            font-size: 14px
            line-height: 0
            margin: 5px 10px 0 15px
        svg
            height: auto
            width: 100px
            margin-top: 6px
    
    @media (max-width: $breakpoint-xl)
        .wordmark
            display: none

    .logo-container
        display: block
        width: 185px


    
.workspace-nav
    align-items: center
    background-color: #fff
    display: grid 
    grid-template-columns: repeat(3, 1fr)
    height: 70px
    width: 100%
    padding: 0 30px

    .account-dropdown
        display: flex
        flex-direction: row
        justify-content: flex-end
        .dropdown a
            display: flex
            align-items: center
            &:hover, &:focus
                color: $brand-secondary-color
        &--picture
            height: 40px
            width: 40px
            border-radius: 20px
        &--name
            font-family: $brand-font-family-mono
            font-size: 0.875rem

.dropdown-menu
    padding-bottom: 10px
    a
        font-family: $brand-font-family-mono
        font-size: 0.875rem
        padding: 10px 25px 10px 25px
        transition: 0.1s all ease-in-out
        &:hover, 
        &:focus
            color: $brand-secondary-color
            background-color: $light-gray-color
    .divider
        height: 1px
        background: $light-gray-color
        margin: 0
    .disabled
        cursor: unset
        color: $mid-gray-color

.dropdown-menu
    border: none
    border-radius: 0px

.workspace-nav-dropdown-toggle
    border: 2px solid $brand-primary-color
    #session_name_workspace
        max-width: 300px
        overflow: hidden

.workspace-nav-dropdown-toggle:after
    margin-top: auto
    margin-bottom: auto
    margin-left: .5em

@media (max-width: $breakpoint-sm)
    .workspace-nav
        display: flex
        justify-content: space-between
        .homepage-logo
            margin: 0
        .empty
            display: none