@use '../fonts'
@import ../theme

body
    font-family: 'Basis Grotesque Pro' !important

    .dropdown-menu
        border: none
        border-radius: 0px
    
.homepage-logo
    align-items: center
    display: flex
    padding-left: calc(-23.33px + 5.9vw)

    .wordmark
        align-items: center
        display: flex
        margin-top: -2px
        p
            color: #677b8c
            font-size: 14px
            margin: 0 10px 2px 15px
        svg
            height: auto
            width: 100px
    
    @media (max-width: $breakpoint-tablet)
        .wordmark
            display: none

    .logo-container
        display: block
        width: 185px


    
.workspace-nav
    align-items: center
    background-color: #fff
    display: flex
    height: 70px
    justify-content: space-between
    width: 100%

    .account-dropdown
        display: flex
        flex-direction: row
        .profile-picture
            height: 40px
            width: 40px
            border-radius: 20px

    .dropdown-menu
        margin-top: 1rem!important
