<div id="switch-view-buttons" class="col d-flex justify-content-center mb-3" style="position: relative;">
    <div id="3d-controls" class="d-none">
        <div class="fixed-top help-3D">
            <div class="help-3D-tooltip-icon-container">
                <svg class="help-3D-tooltip-icon" id="3D-help-btn" xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 18.2 18.3">
                    <path
                        d="M9.1 18.2c-5 0-9-4-9-9s4-9 9-9 9 4 9 9-4 9-9 9zm0-16.5C5 1.7 1.6 5.1 1.6 9.2s3.4 7.5 7.5 7.5 7.5-3.4 7.5-7.5-3.4-7.5-7.5-7.5z"
                        fill="#FFFFFF">
                    </path>
                    <path
                        d="M9.7 10.7c0-.5.1-.8.5-1.1 1.1-.9 1.4-1.5 1.4-2.3 0-1.3-.9-2.1-2.6-2.1-1.6 0-2.6 1.1-2.6 2.2 0 .3.1.6.2.8l1.3-.3c0-.1-.1-.3-.1-.4 0-.7.5-1.1 1.3-1.1.7 0 1.1.4 1.1.9 0 .6-.3.9-1 1.5s-.9 1-.9 1.7v.2h1.4zm-1.4 2.5h1.5v-1.5H8.3v1.5z"
                        fill="#FFFFFF" stroke="#919191" stroke-width=".2" stroke-miterlimit="10">
                    </path>
                </svg>
            </div>
            <div class="help-3D-copy">
                <span class="help-3D-text">Pan over link profile to navigate or use arrow keys </span>
                <div class="help-3D-arrow">
                    <svg width="12" height="10" viewBox="0 0 12 10" fill="#2D2D2D" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.3499 1.96404L5.15344 0.767578L1.17059 4.75042C1.01196 4.9091 0.922852 5.12429 0.922852 5.34866C0.922852 5.57302 1.01196 5.78821 1.17059 5.94689L5.15344 9.92973L6.3499 8.73327L3.81144 6.19481H11.0765V4.5025H3.81144L6.3499 1.96404Z" fill="#2D2D2D"/>
                    </svg>
                </div>
                <div class="help-3D-arrow">
                    <svg width="12" height="10" viewBox="0 0 12 10" fill="#2D2D2D" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.64985 8.38557L6.84632 9.58203L10.8292 5.59918C10.9878 5.44051 11.0769 5.22532 11.0769 5.00095C11.0769 4.77658 10.9878 4.5614 10.8292 4.40272L6.84632 0.419877L5.64985 1.61634L8.18832 4.1548L0.923238 4.1548L0.923238 5.84711L8.18832 5.84711L5.64985 8.38557Z" fill="#2D2D2D"/>
                    </svg>
                </div>
            </div>
        </div>
        <div style="position: absolute; bottom: 35px; left: 10px;">
            <button type="button" class="btn isptoolbox-btn btn-primary" id="3d-pause-play">
                <div id="pause-button-3d">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" style="margin-right: 0;" class="bi bi-pause-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
                    </svg>
                </div>
                <div id="play-button-3d" class="d-none">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" style="margin-right: 0;" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                    </svg>
                </div>
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="position: absolute; top: -30px">
        <button type="button" class="btn isptoolbox-btn btn-primary btn-large" id="map-view-btn">
            Map View
        </button>
        <button type="button" class="btn isptoolbox-btn btn-secondary" id="3D-view-btn" style="align-items:center;">         
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.4rem;">
                <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
            3D View
        </button>
    </div>
    <div id="point-cloud-loading-status" class="pt-cloud-loading row d-none" style="position: absolute; right: 25px; top: -20px;">
        {% with spinner_style="height: 25px;" blink=True spinner_classes="mx-auto mb-3" %}  
            {% include "../atoms/loading_spinner.html" %}
        {% endwith %}  
        <h5 class="nodes-loading-message">Loading Landscape...</h5>
    </div>
</div>