{% load waffle_tags %}
<div id="switch-view-buttons" class="col d-flex justify-content-center">
    <div id="3d-controls" class="d-none">
        <div style="position: absolute; bottom: 35px; left: 10px; z-index: 1020;">
            <button type="button" class="btn isptoolbox-btn btn-primary" id="3d-pause-play">
                <div id="pause-button-3d">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" style="margin-right: 0;" class="bi bi-pause-fill"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z" />
                    </svg>
                </div>
                <div id="play-button-3d" class="d-none">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" style="margin-right: 0;" class="bi bi-play-fill"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                    </svg>
                </div>
            </button>
            {% flag "rgba_los_check" %}
            <button type="button" class="btn isptoolbox-btn btn-primary" id="pt-cld-attribute"
                data-material-attribute="elevation">
                <svg style="width: 1em; height: 1em;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                    <path fill-rule="evenodd"
                        d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z" />
                </svg>
                <svg style="width: 1em; height: 1em;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-droplet-fill d-none" viewBox="0 0 16 16">
                    <path
                        d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z" />
                </svg>
            </button>
            {% endflag %}
        </div>
    </div>
    <div class="d-flex justify-content-center" style="position: absolute; top: -30px; z-index: 1020;">
        <button type="button" class="btn isptoolbox-btn btn-primary btn-large" id="map-view-btn">
            Map View
        </button>
        <button type="button" class="btn isptoolbox-btn btn-secondary" id="3D-view-btn" style="align-items:center;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg" style="margin-right: 0.4rem;">
                <path fill-rule="evenodd"
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z" />
                <path fill-rule="evenodd"
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
            3D View
        </button>
    </div>
    <div id="point-cloud-loading-status" class="pt-cloud-loading row d-none"
        style="position: absolute; right: 1em; top: -2em; z-index: 1020;">
        {% with spinner_style="height: 25px;" blink=True spinner_classes="mx-auto mb-3" %}
        {% include "workspace/atoms/components/loading_spinner.html" %}
        {% endwith %}
        <h5 class="nodes-loading-message">Loading Landscape...</h5>
    </div>
</div>