{% extends "workspace/pages/base.html" %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 50px;">
<!-- Style Sheets-->
<link href='{% static "stylesheets/pages/workspace.css" %}' rel='stylesheet' />
<div style="margin-left: auto;
margin-right: auto;
padding-top: 100px;
height: 100%;
text-align: center;
display: flex;
align-items: center;
justify-content: center;">
    <div>
    {% include "workspace/atoms/missing_icon.html" %}
    <h3 style="margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;">{{ error_title }}</h3>
    <p style="margin-bottom: 20px;
    text-align: center;" class="large">{{ error_msg }}</p>
    </div>
</div>
</div>
{% endblock %}