<div class="aria-widget-slider" role="multi-thumb-slider" aria-valuemin="20" aria-valuemax="22000" aria-logscale="true">
    <div class="aria-middle-area"></div>
    <div class="rail w-100">
        <div role="slider" tabindex="0" class="rail-label min thumb" aria-valuenow="20" aria-valuetext="20"
            aria-label="minimum building size" data-key="start" data-range="20,220000">
            <div class="isptoolbox-slider-thumb px-1">20</div>
        </div>
        <div role="slider" tabindex="0" class="rail-label max thumb" aria-valuenow="22000" aria-valuetext="22000"
            aria-label="maximum building size" data-key="end" data-range="20,220000">
            <div class="isptoolbox-slider-thumb px-1">22000</div>
        </div>
    </div>
</div>