.freq-toggle
    .btn   
        border-radius: 0 !important
        padding-top: 3px
        padding-bottom: 3px
    .active
        background-color: #5692d1 !important
        color: white !important