{% load i18n %}
<div id="inputs">
    <div class="row d-flex flex-row justify-content-around pt-2 pb-2 mb-2" style="background: white;">
        <div class="_91o6">
            <div class="_91o7">
                <h4 class="_90xn">Power Requirement</h4>
            </div>
            <div class="_91o8">
                <p class="_90xn">(Site Power Requirements)</p>
            </div>
            <h2 class="_90xn d-flex flex-row">
                <input type="number" value="200" style="max-width: 100px">
                <div class="_91o2">W</div>
            </h2>
        </div>
        <div class="_91o6">
            <div class="_91o7">
                <h4 class="_90xn">Uptime Requirement</h4>
            </div>
            <div class="_91o8">
                <p class="_90xn">(Availability of Power)</p>
            </div>
            <h2 class="_90xn d-flex flex-row">
                <input type="number" value="99" style="max-width: 100px">
                <div class="_91o4">%</div>
            </h2>
        </div>
        {% comment %} <div class="_91o6">
            <div class="_91o7">
                <h4 class="_90xn">Latitude</h4>
            </div>
            <div class="_91o8">
                <p class="_90xn">(Location of Site)</p>
            </div>
            <h2 class="_90xn d-flex flex-row">
                <input type="number" value="33.7" disabled>
                <div class="_91o4">%</div>
            </h2>
        </div> {% endcomment %}
    </div>
</div>