{% load workspace_debug %}

{{ form.non_field_errors }}
<table class="table table-sm table-modal theme-table">
    <thead class="thead-modal">
        <tr>{% for field in form %}<th {% if field.is_hidden %} style="display: none;" {% endif %}>{{ field.label | safe }}</th>{% endfor %}</tr>
    </thead>
    <tbody>
        <tr>{% for field in form %}
            <td
            {% if field.is_hidden %} style="display: none;" {% endif %}
            {% if field.errors %} class="error-input" {% endif %}
            >
                {% block field %}
                    {{field}}
                {% endblock field %}
                {% if not hide_errors %}
                {{ field.errors }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>