{% spaceless %}
{% load i18n %}
<div class="modal-header">
    {% if breadcrumb %}
    <ol class="breadcrumb my-auto">
        {% for b in breadcrumb %}
        {% if b.modal %}
        <li class="breadcrumb-item"><a href="#" data-toggle="modal" tabindex="-1"
                data-target="#{{b.modal}}">{{b.name}}</a></li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">{{b.name}}</li>
        {% endif %}
        {% endfor %}
    </ol>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        {% include "workspace/atoms/isptoolbox_close_icon.html" %}
    </button>
</div>
<form hx-post="{{ request.path }}" hx-swap="innerHTML" hx-target="#edit_modal_body">
    {% csrf_token %}
    <div class="modal-body">
        <h3 class="modal-title" >{% translate "Edit"%}
        </h3>
        <div class="table-responsive isptoolbox-form">
            {% with hide_errors=True %}
            {% if form.units %}
            {% include "workspace/forms/form_table_with_units.html" %}
            {% else %}
            {% include "workspace/forms/form_table.html" %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="isptoolbox-form">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary isptoolbox-btn"
            id="ap-delete-confirm-btn">{% translate "Update"%}</button>
    </div>
</form>
{% endspaceless %}