{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> LOS Check Summary </h1>
{% endblock %}
{% load humanize %}
{% block result_list %}
<div class=”results”>
    <table>
        
    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>FBID</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Number of Links</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class=”{% cycle 'row1' 'row2' %}”>
        <td> {{ row.fbid }} </td>
        <td> {{ row.count }} </td>
      </tr>
      {% endfor %}
    </tbody>
    <tr style=”font-weight:bold; border-top:2px solid #DDDDDD;”>
        <td> All Users </td>
        <td> {{ summary_total.count | default:0 }} </td>
    </tr>
    
  </table>
</div>
{% endblock %}
{% block pagination %}{% endblock %}