name: Build, Test, Push New Image to Prod

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    services:
    steps:
    - uses: actions/checkout@v2      
    - name: Setup Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install make
      run: |
        sudo apt-get update && sudo apt-get install -y make
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # if you're seeing this, your code is ugly ( ͡ಥ ͜ʖ ͡ಥ)
        flake8 . --count --max-complexity=11 --max-line-length=127 --statistics --exclude *migrations*
    - name: Run Django Test Suite
      run: |
        make test
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-1
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    - name: Build Docker Image
      env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
      run: |
        docker-compose build
        echo $ECR_REGISTRY
        echo $ECR_REPOSITORY
        docker tag isptoolbox-nginx:latest $ECR_REGISTRY/isptoolbox-nginx:latest
        docker tag isptoolbox-django:latest $ECR_REGISTRY/isptoolbox-django:latest
        docker push $ECR_REGISTRY/isptoolbox-django:latest
        docker push $ECR_REGISTRY/isptoolbox-nginx:latest
